<a href="https://colab.research.google.com/github/joeycodinglesson/Python/blob/main/Joseph_Coding_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1 TERM 1

In [ ]:
n1 = input("First Number:")
n2 = input("Second Number:")

result = int(n1) * int(n2)

print("Result =", result)

First Number:1
Second Number:2
Result = 2

In [ ]:
length = float(input("length:"))
width = float(input("width:"))
height = float(input("height:"))

volume = length * width * height

print("volume =", volume)

length:3
width:4
height:5
volume = 60.0

In [ ]:
Balls = 10
Children = 2

result = Balls // Children
remainder = Balls % result

print("Every child will receive =", result, "balls")
print("There will be a remainder of =", remainder, "balls")

Every child will receive = 5 balls
There will be a remainder of = 0 balls

In [ ]:
price = 2300
payment = 5000

change = payment - price
donation = change % 1000
takeawaymoney = change - donation

print("There will be a change of =", change)
print("There will be a donation of =", donation)
print("The takeaway money will be =", takeawaymoney)

There will be a change of = 2700
There will be a donation of = 700
The takeaway money will be = 2000

In [ ]:
totalsteps = 10000

inm = totalsteps / 2
inkm = inm / 1000

print (int(inm))
print("You walked a total of =", inkm, "km")

5000
You walked a total of = 5.0 km

In [ ]:
totalsteps = 100000

inm = totalsteps / 2
inkm = inm // 1000
inmeter = inm % 1000

print("You walked a total of =", int(inkm), ("km"))
print("and =",int(inmeter), ("m"))

You walked a total of = 50 km
and = 0 m

# Day 2

In [ ]:
change = float(input("Change($): ")) 
cents = int(change*100) 

denom = 50 
qty = cents // denom
if ( qty > 0):
  print(">> ",qty, "coins of", denom, "cents")
cents = cents % denom

denom = 20
qty = cents // denom
if ( qty > 0):
  print(">> ",qty, "coins of", denom, "cents")
cents = cents % denom

denom = 10
qty = cents // denom
if ( qty > 0):
  print(">> ",qty, "coins of", denom, "cents")
cents = cents % denom

denom = 5 
qty = cents // denom
if ( qty > 0):
  print(">> ",qty, "coins of", denom, "cents")
cents = cents % denom
 
if ( qty > 0):
  print(">> ",qty, "coins of", denom, "cents")

Change:0.5
>>  1 coins of 50 cents

In [ ]:
num = 1000

s = num // 1000
print("thousand:", s)

h = num % 1000 // 100
print("hundred:", h)

t = num % 100 // 10
print("tens:", t)

o = num % 10 
print("ones:", o)

thousand: 1
hundred: 0
tens: 0
ones: 0

# Day 3

In [ ]:

score = 90
if (score >= 60):
  print ("passed")
else: 
  print ("failed")

passed

In [ ]:
score = 60
if ( score >= 80 ):
  print ("grade A")
elif ( score >= 60 ):
  print ("grade B")
elif ( score >= 40 ):
  print ("grade C")
elif ( score >= 20 ):
  print ("grade D")
else:
  print ("grade E")

grade B

In [ ]:
number = int(input("input a number:"))
if (number > 0):
  print ("positive")
elif (number < 0):
   print ("negative")
else:
  print ("zero")

input a number:100
positive

In [ ]:
number = int(input("input a number:"))
num = number%2
if (num == 0):
  print ("even")
elif (num == 1):
  print ("odd")
else:
  print ("zero")

input a number:2
even

In [ ]:
a = int(input("input number a:"))
b = int(input("input number b:"))
c = int(input("input number c:"))

if (a > b and a > c):
  print("the biggest =", a)
elif ( b > a and b > c ):
  print("the biggest =", b) 
elif ( c > b and c > a ):
  print("the biggest =", c)
else:
  print("there is no biggest number")

input number a:3
input number b:4
input number c:10
the biggest = 10

In [ ]:
line1 = 1
line2 = 2
line3 = 3
if (line1 + line2 > line3 and line1 + line3 > line2 and line2 + line3 > line1):
  print("can")

else: 
  print("can't")

can't

In [ ]:
name = input("name:")
gender = input("gender(male/female):")
status = input("status(married/single):")
if (gender == "male"):
  print("Hello Mr.", name)
elif (gender == "female" and status == "married"):
  print("Hello Mrs.", name)
elif (gender == "female" and status == "single"):
  print("Hello Ms.", name)

name:john
gender(male/female):male
status(married/single):single
Hello Mr. john

In [ ]:
a = int(input("input number a:"))
b = int(input("input number b:"))
c = int(input("input number c:"))

if (a > b):
  a,b = b,a
if (a > c):
  a,c = c,a
if (b > c):
  b,c = c,b

print(a,b,c)

input number a:5
input number b:3
input number c:1
1 3 5

# Day 4

In [ ]:
i = 0
while ( i < 3 ):
   print ( " run ",end = " - ")
   i = i + 1
   print (i, "x")
print ("Done")

 run  - 1 x
 run  - 2 x
 run  - 3 x
Done

In [ ]:
i = 1
while (i <= 10):
   print (i,end = "  ")
   i = i + 1

1  2  3  4  5  6  7  8  9  10

In [ ]:
i = 1
while (i <= 9):
    print (i, end = " ")
    i = i + 2

1 3 5 7 9

In [ ]:
i = 2
while (i <= 10):
    print (i, end = " ")
    i = i + 2

2 4 6 8 10

In [ ]:
i = 0
while (i <= 25):
    print (i, end = " ")
    i = i + 5

0 5 10 15 20 25

In [ ]:
i = 1
while (i <= 5):
    print (i * i, end = " ")
    i = i + 1

1 4 9 16 25

In [ ]:
i = 1
while (i <= 32):
    print (i, end = " ")
    i = (i * 2)

1 2 4 8 16 32

In [ ]:
i = 10
while (i >= 1):
    print (i, end = " ")
    i = i - 1
print ()
print ("HAPPY NEW YEAR 2021")

10 9 8 7 6 5 4 3 2 1
HAPPY NEW YEAR 2021

In [ ]:
total = 0
n = 10
i = 1
while (i < 10):
    print (i, end = " + ")
    total = total + i
    i = i + 1    
print (n, "=", total + i)

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55

In [ ]:
result = 1
n = 5
i = 1
while (i < n):
    print (i, end = " x ")
    result = result * i
    i = i + 1    
print (n, "=", result * i)

1 x 2 x 3 x 4 x 5 = 120

In [ ]:
n = 64
i = 0
total = 0
while (i<n-1):
  x = 2**i 
  print("grid #", format(i+1, "2d"), ":", format(x, "25,d"), "+")
  total = total + x
  i = i + 1
print("grid #", format(i+1, "2d"), ":", format(2**i, "25,d"), "=")
y = total + 2**i
print("total   :",format((y/1E18),'8,f'), "quintillion")

grid #  1 :                         1 +
grid #  2 :                         2 +
grid #  3 :                         4 +
grid #  4 :                         8 +
grid #  5 :                        16 +
grid #  6 :                        32 +
grid #  7 :                        64 +
grid #  8 :                       128 +
grid #  9 :                       256 +
grid # 10 :                       512 +
grid # 11 :                     1,024 +
grid # 12 :                     2,048 +
grid # 13 :                     4,096 +
grid # 14 :                     8,192 +
grid # 15 :                    16,384 +
grid # 16 :                    32,768 +
grid # 17 :                    65,536 +
grid # 18 :                   131,072 +
grid # 19 :                   262,144 +
grid # 20 :                   524,288 +
grid # 21 :                 1,048,576 +
grid # 22 :                 2,097,152 +
grid # 23 :                 4,194,304 +
grid # 24 :                 8,388,608 +
grid # 25 :                16,777,216 +
grid # 26 :                33,554,432 +
grid # 27 :                67,108,864 +
grid # 28 :               134,217,728 +
grid # 29 :               268,435,456 +
grid # 30 :               536,870,912 +
grid # 31 :             1,073,741,824 +
grid # 32 :             2,147,483,648 +
grid # 33 :             4,294,967,296 +
grid # 34 :             8,589,934,592 +
grid # 35 :            17,179,869,184 +
grid # 36 :            34,359,738,368 +
grid # 37 :            68,719,476,736 +
grid # 38 :           137,438,953,472 +
grid # 39 :           274,877,906,944 +
grid # 40 :           549,755,813,888 +
grid # 41 :         1,099,511,627,776 +
grid # 42 :         2,199,023,255,552 +
grid # 43 :         4,398,046,511,104 +
grid # 44 :         8,796,093,022,208 +
grid # 45 :        17,592,186,044,416 +
grid # 46 :        35,184,372,088,832 +
grid # 47 :        70,368,744,177,664 +
grid # 48 :       140,737,488,355,328 +
grid # 49 :       281,474,976,710,656 +
grid # 50 :       562,949,953,421,312 +
grid # 51 :     1,125,899,906,842,624 +
grid # 52 :     2,251,799,813,685,248 +
grid # 53 :     4,503,599,627,370,496 +
grid # 54 :     9,007,199,254,740,992 +
grid # 55 :    18,014,398,509,481,984 +
grid # 56 :    36,028,797,018,963,968 +
grid # 57 :    72,057,594,037,927,936 +
grid # 58 :   144,115,188,075,855,872 +
grid # 59 :   288,230,376,151,711,744 +
grid # 60 :   576,460,752,303,423,488 +
grid # 61 : 1,152,921,504,606,846,976 +
grid # 62 : 2,305,843,009,213,693,952 +
grid # 63 : 4,611,686,018,427,387,904 +
grid # 64 : 9,223,372,036,854,775,808 =
total   : 18.446744 quintillion

# Day 5

In [ ]:
result = 1
n = 7
i = 1
while (i < n):
    print (i, end = " x ")
    result = result * i
    i = i + 2    
print (n, "=", result * i)

1 x 3 x 5 x 7 = 105

In [ ]:
result = 1
n = -2
i = -5
while (i < n):
    print (i, end = " x ")
    result = result * i
    i = i + 1    
print (n, "=", result * i)

-5 x -4 x -3 x -2 = 120

In [ ]:
result = 0
n = 63
i = 0
while (i < n):
    print (2 ** i, end = " + ")
    result = result + (2 ** i)
    i = i + 1   
print (2 ** i, "=", result + 2 ** i)

1 + 2 + 4 + 8 + 16 + 32 + 64 + 128 + 256 + 512 + 1024 + 2048 + 4096 + 8192 + 16384 + 32768 + 65536 + 131072 + 262144 + 524288 + 1048576 + 2097152 + 4194304 + 8388608 + 16777216 + 33554432 + 67108864 + 134217728 + 268435456 + 536870912 + 1073741824 + 2147483648 + 4294967296 + 8589934592 + 17179869184 + 34359738368 + 68719476736 + 137438953472 + 274877906944 + 549755813888 + 1099511627776 + 2199023255552 + 4398046511104 + 8796093022208 + 17592186044416 + 35184372088832 + 70368744177664 + 140737488355328 + 281474976710656 + 562949953421312 + 1125899906842624 + 2251799813685248 + 4503599627370496 + 9007199254740992 + 18014398509481984 + 36028797018963968 + 72057594037927936 + 144115188075855872 + 288230376151711744 + 576460752303423488 + 1152921504606846976 + 2305843009213693952 + 4611686018427387904 + 9223372036854775808 = 18446744073709551615

In [ ]:
i = 2
while ( i < 11 ):
   print ( i, end = " ")
   i = i + 2

print()

i = 1
for i in range ( 2, 11, 2 ):
   print ( i, end= " ")

2 4 6 8 10
2 4 6 8 10

In [ ]:
i = 1
for i in range ( 10, 0, -1 ):
   print ( i, end= " ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
i = 1
n = 7
total = 0
for i in range ( 2, n ):
  total = total + 1
  print ( i, end= " + ")

2 + 3 + 4 + 5 + 6 +

In [ ]:
x = 1
total = 0
for i in range ( 1, 4 ):
   print ( x, end= " + ")
   total = total + x
   x = x - (i * 10)
print (x, "=", total + x)

In [ ]:
x = 100
total = 0
for i in range ( 1, 4 ):
   print ( x, end= " + ")
   total = total + x
   x = x - (i * 10)
print (x, "=", total + x)

100 + 90 + 70 + 40 = 300

# Day 6

In [ ]:

num = int(input("magic number (0-9): "))
i = -1
while (i != num):
  i = random.randint(0,9)
  print (i, end= " ")
print("done!")

magic number (0-9): 1
8 5 0 3 4 6 6 2 0 5 8 1 done!

In [ ]:
print ("rock=1, scissors=2, paper=3")
comp = random.randint(1,3)
human = int(input("You throw (1/2/3): "))
print ("Computer throw:", comp)
if (comp == human): 
 print ("Its a tie!")
elif (human == 1 and comp == 2 or human == 2 and comp == 3 or human == 3 and comp == 1):
 print ("You won the round!")
else:
  print ("Computer won the round!")

rock=1, scissors=2, paper=3

In [ ]:
import random 
hpoints = 0
cpoints = 0 
i = 1
while (hpoints < 3 and cpoints < 3):
  print("Round #", i)
  comp = random.randint(1, 3)
  human = int(input("1-rock 2-paper 3-scissors: "))
  print("Computer uses", comp)
  if (human == comp):
    print("It's a tie!")
  elif (comp == 1 and human == 2 or comp == 2 and human == 3 or comp == 3 and human == 1): 
    hpoints += 1 
    print("You won this round!") 
  else:
    cpoints += 1
    print("The computer has won this round!")
  i = i + 1
print ("Final Result")
print("Human: ", hpoints)
print("Computer:", cpoints)
if (hpoints > cpoints):
  print("You win!")
else: 
  print("Computer wins!")

Round # 1
Computer uses 1
You won this round!
Round # 2

KeyboardInterrupt: ignored

# Day 7

In [ ]:
def parabolic (x):
  y = x**2
  return y

result = parabolic(4)
print(result)

16

In [ ]:
def doubler (x):
  y = x*2
  return y
x = int(input("x value: "))

result = doubler(x)
print("y value:", result)

x value: 5
y value: 10

In [ ]:
def multiplier (x,y):
 z = x * y
 return z

x = int(input("x value: "))
y = int(input("y value: "))

result = multiplier(x,y)
print("z value: ", result)

x value: 5
y value: 4
z value:  20

In [ ]:
def getInput(text):
  while (True):
    edge = float (input("input edge" + text + ": "))
    if (edge <= 0):
      print ("invalid edge!")
    else:
      break
  return edge

edge = getInput("1")

input edge1: 4

In [ ]:
def display(text, num):
  print(text, ": ",num)

display("Area of square", 100)

Area of square :  100

In [ ]:
def getInput(text):
  while (True):
    edge = float (input("input edge" + text + ": "))
    if (edge <= 0):
      print ("invalid edge!")
    else:
      break
  return edge

def multiplier (x,y,z):
  result = x * y * z
  return result 
def display(text1, num):
  if text1 == "box":
    text1 = "volume of " + text1
    text2 = "cm3"
  else:
    text1 = "area of "+ text1
    text2 = "cm2"
  print(format(text1, "20s"), " : ", num, text2)
e1 = getInput ("1")
e2 = getInput ("2")
e3 = getInput ("3")

s = multiplier (e1,e1, 1)
r = multiplier (e1, e2, 1)
t = multiplier (1/2, e1, e2)
c = multiplier (3.14, e1**2, 1 )
v = multiplier(e1, e2, e3)

print ()

display("square", s)
display("rectangle", r )
display("triangle", t)
display("circle", c)
display("box", v)

input edge1: 2
input edge2: 3
input edge3: 4

area of square        :  4.0 cm2
area of rectangle     :  6.0 cm2
area of triangle      :  3.0 cm2
area of circle        :  12.56 cm2
volume of box         :  24.0 cm3

In [ ]:
def sigma (start, n):
  total = 0
  for i in range(start, n):
    print (i, end=' + ')
    total += i
  print(n, "=",total+n)

sigma(3,10)

3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 52

In [ ]:
def mystery (d1,d2,g):
  result = d1 +d2
  if (d1 == d2):
    return "You lost"
  elif (result%2 == g%2):
    return "You won"
  else:
    return "You lost"

print (mystery(1,2,5))
print (mystery(2,4,3))
print (mystery(3,3,5))

You won
You lost
You lost

# Day 8

In [ ]:
def facto (start, n):
 total = 1
 for i in range(start, n):
    print (i, end=' x ')
    total *= i
 print(n, "=", total*n)

facto(2, 4)

2 x 3 x 4 = 24

In [ ]:
def facto (n):
 result = 1
 for i in range(1, n + 1):
    result *= i
 return result

f6 = facto (6)
print(f6)

720

In [ ]:
def facto (n):
  result = 1
  for i in range(1, n+1):
    result *= i
  return result

c = facto(n)/facto(r)*facto(n-r)
p = facto(n)/facto(n-r)

print ("C(", n , "/",r,")=", int(c))
print ("P(", n , "/",r,")=", int(p))

C( 3 / 2 )= 3
P( 3 / 2 )= 6

In [ ]:
def fibo(n):
  if (n==0 or n==1):
    return n
  else:
    return fibo(n-2) + fibo(n-1)

print ("no. of rabbits born:", fibo(24)*2)

no. of rabbits born: 92736

In [ ]:
def sigma(n):
  if (n==0):
    return 0
  else:
    return n + sigma (n-1)

print (sigma(10))

55

In [ ]:
def facto(n):
  if (n==1):
    return 1
  else:
    return n * facto (n-1)

print (facto(5))

120

In [ ]:
def fibo(n):
  result = 0
  next = 1
  for i in range(n):
    temp = result
    result = next
    next = temp + result
  return result

print ("no. of rabbits born:", fibo(24)*2)

no. of rabbits born: 92736

# Day 9

In [ ]:

scores = [90,70,80,100,60]
print(scores)
print(scores[3])
scores.append(88)
scores[4] = 77
scores.pop(1)
print(scores)
for i in range(len(scores)):
 print("student #", i + 1,":",scores[i])

[90, 70, 80, 100, 60]
100
[90, 80, 100, 77, 88]
student # 1 : 90
student # 2 : 80
student # 3 : 100
student # 4 : 77
student # 5 : 88

In [ ]:
names = ["Alex", "Bob", "Chen", "Dave", "Eddy"]
scores = [90,70,80,100,60]
for i in range(len(scores)):
  print(names[i], " : ",scores[i])

Alex  :  90
Bob  :  70
Chen  :  80
Dave  :  100
Eddy  :  60

In [ ]:
names = ["Alex", "Bob", "Chen", "Dave", "Eddy"]
scores = [90,70,80,100,60]
for i in range(len(scores)):
  scores[i]= scores[i] + 5
  if (scores[i] > 100):
    scores[i] = 100
  print(i+1, names[i], " : ",(scores[i]))

1 Alex  :  95
2 Bob  :  75
3 Chen  :  85
4 Dave  :  100
5 Eddy  :  65

In [ ]:
names = ["Alex", "Bob", "Chen", "Dave", "Eddy"]
scores = [90,70,80,100,60]
total,hIdx,lIdx = 0,0,0
print("Score list")
for i in range(len(scores)):
  scores[i] += 5
  if (scores[i] > 100):
    scores[i] = 100
  print(i+1, names[i], " : ",scores[i])
  total += scores[i]
  average = total/len(scores)
  if (scores[hIdx] < scores[i]):
    hIdx = i
  if (scores[lIdx] > scores[i]):
    lIdx = i
print("")
print("total score :", total)
print("average score :", average)
print("")
print("highest score :", names[hIdx], "-", scores[hIdx])
print("lowest score :", names[lIdx], "-", scores[lIdx])

Score list
1 Alex  :  95
2 Bob  :  75
3 Chen  :  85
4 Dave  :  100
5 Eddy  :  65

total score : 420
average score : 84.0

highest score : Dave - 100
lowest score : Eddy - 65

In [ ]:
choice = int(input("input 1/2/3: "))
if (choice == 1):
  print("strawberry")
elif (choice == 2):
  print("chocolate")
elif (choice == 3):
  print("vanilla")

input 1/2/3: 2
chocolate

In [ ]:
flavours = ["Strawberry", "Chocolate", "Vanilla"] #strawberry = 0, chocolate = 1, vanilla = 2
choice = int(input("Input 1/2/3: "))
print(flavours[choice - 1])

Input 1/2/3: 3
Vanilla

# Day 10

In [ ]:
flavours = ["Strawberry", "Chocolate", "Vanilla"] #strawberry = 0, chocolate = 1, vanilla = 2
prices = [2.0, 2.5, 3.0]
choice = int(input("Input 1-strawberry/2-chocolate/3-vanilla: "))
flavour = flavours[choice - 1]
price = prices
[choice - 1]
qty = int(input("quantity: "))
totalprice = sum(qty*prices)
payment = int (input("payment: "))
change = payment - totalprice
if (change > 0):
 print(flavour, "$", price, "x", qty, "=",)
 print("payment ($):", payment)
 print("Change ($):", change)

elif (change < 0):
 print("insufficient funds!")

In [ ]:
cc_nos = [ 123, 234, 345]
names = ["Alex", "Bree", "Chow"]
pins = [111, 222, 333]
balances = [ 100, 200, 300]
valid = False
while (True):
  print("n\ATM JJL")
  acc_no = int (input("Account No: "))
  if (acc_no == -1):
    print("Thank you")
    break 
  pin = int (input("Account Pin: "))
  if acc_no in acc_nos:
    idx = acc_nos.index(acc_no)
    if pin == pins[idx]:
      print("Welcome", names[idx], "!")
      print("Balance $", balances[idx])
      valid = True
      break
    else:
      print("Incorrect PIN")
  else: 
    print("Incorrect Acc No") 
if valid:
  while (True):
    trans = int(input("1-Deposit 2-Withdraw 3-Transfer 0-Exit"))
    if (trans == 0):
      print("See you Amigo! ")
      break 
    amount = int(input("Amount: "))
    if (trans == 1):
      if (amount > 0):
       balances[idx] += amount
    elif (trans == 2):
      if (amount > 0 and amount <= balances[idx]):
       balances[idx] -= amount
    elif (trans == 3):
      if (amount > 0 and amound <= balances[idx]):
       d_acc_no = int (input("Destination Account No: "))
      idx_d = acc_nos.index(d_acc_no)
      balances[idx] -= amount 
      balances[idx_d] += amount
    print("Your balance $", balances[idx])

n\ATM JJL

KeyboardInterrupt: ignored

In [ ]:
product_code = [123, 234, 345]
product_name = ["iPhone 12", "Samsung A50", "ASUS Laptop"]
price = [1200, 1500, 5000]

while (True):
  print("Welcome to LEO's Store")
  product = int (input("Product Code: (0 to exit) "))
  if (product == 0):
    print("See you!")
    break
  if product in product_code:
    idx = product_code.index(product)
    if (product == product_code[idx]):
      print("You are buying", product_name[idx])
  quantity = (input("Quantity: "))
  print("You are buying", quantity, product_name[idx])
  print("The price is", price[idx])
  payment = int (input("Please input payment: "))
  change = (payment - price[idx])
  print("Your change is $", change)
  print("Thank you!")

Welcome to LEO's Store
Product Code: (0 to exit) 123
You are buying iPhone 12

# Day 11

In [ ]:
x = [5, 3, 4, 2 ,1]
print(x)
n = len(x)
for i in range (n-1):
# use this instead of: for i in range (0, n-1) cause it automatically starts at 0
  for j in range (i+1, n):
    if (x[i] > x[j]):
      x[i], x[j] = x[j], x[i]
print(x)

In [ ]:
def sortbyname():
 n = len(names)
 for i in range (n-1):
  for j in range(i+1, n):
    if (names[i]> names[j]):
      names [i],names[j] = names[j],names[i]
      scores[i],scores[j]=scores[j],scores[i]


def sortbyscore():
  n=len(scores)
  for i in range(n-1):
   for j in range(i+1,n):
    if (scores[i]<scores[j]):
      names [i],names[j] = names[j],names[i]
      scores[i],scores[j]=scores[j],scores[i]

def printlist():
  for i in range(n):
    print(i+1, names[i], " : ",scores[i])

names = ["john", "alex", "hans", "chow", "bree"]
scores = [90,60,100,70,80]
sortbyname()
printlist()
print()
sortbyscore()
printlist()

1 alex  :  60
2 bree  :  80
3 chow  :  70
4 hans  :  100
5 john  :  90

1 hans  :  100
2 john  :  90
3 bree  :  80
4 chow  :  70
5 alex  :  60

In [ ]:
import random 

def sortNumber(n):
  for i in range(n-1):
    for j in range (i+1,n):
      if (num[i] > num[j]):
        num[i], num[j] = num[j], num[i]

def printlist(n):
  for i in range(n):
    print(num[i], end= ' ')
  print()

def generateNum(n):
  for i in range (n):
    num[i] = random.randint(0,n)

n = 1000
num = [0] * n
generateNum(n)
printlist(n)
sortNumber(n)
printlist(n)

778 100 724 76 710 275 674 763 381 689 634 206 305 301 220 441 373 839 91 36 532 953 651 649 672 371 366 457 230 600 899 728 178 650 325 497 539 274 663 16 505 843 919 181 30 719 977 882 273 729 502 246 191 494 536 739 141 211 968 318 683 925 339 184 597 729 2 436 882 596 832 943 106 989 703 6 987 385 17 439 616 776 423 721 232 739 225 892 88 383 574 537 988 129 568 482 998 67 782 695 806 233 571 416 442 298 926 709 860 472 198 476 739 952 344 176 711 361 619 326 710 301 665 928 485 443 569 153 542 494 670 178 535 446 384 409 723 594 847 669 651 84 995 765 94 644 523 247 199 735 41 256 512 538 756 205 231 654 253 126 367 871 573 73 243 431 655 923 721 568 294 584 934 278 444 851 364 988 841 897 342 552 761 625 517 441 844 109 892 555 387 636 628 375 459 354 42 823 99 543 898 77 624 839 526 5 283 915 326 994 832 715 118 998 742 805 402 25 207 465 205 383 489 790 226 248 243 424 447 6 965 102 848 829 349 234 744 365 46 38 928 634 851 842 827 36 752 161 255 25 863 627 172 584 265 801 512 446 144 243 139 423 895 142 426 251 319 986 310 209 951 639 785 843 306 58 79 845 833 264 165 478 63 501 534 466 625 87 918 37 546 321 17 819 278 170 576 175 987 229 190 63 331 762 212 518 603 617 501 146 988 618 567 429 509 287 431 870 600 717 154 486 810 180 586 981 264 312 51 516 731 281 557 654 374 553 284 506 39 206 599 110 877 140 397 295 486 206 52 835 76 545 467 752 557 234 112 700 161 395 115 650 188 816 905 899 447 840 277 327 910 160 241 618 179 729 552 295 417 235 367 160 487 688 12 200 325 467 776 126 80 706 281 130 977 214 472 147 430 327 382 15 734 434 7 289 720 912 708 707 910 195 189 274 998 591 20 555 752 492 823 640 251 476 948 187 301 590 593 878 926 362 794 12 637 223 911 23 486 190 913 168 100 535 775 2 852 640 110 500 910 674 553 838 613 75 449 127 555 879 958 242 967 535 399 74 309 953 32 129 325 646 943 427 125 485 688 699 516 829 887 97 113 398 131 290 852 693 543 735 424 725 61 884 887 792 725 146 54 440 796 876 166 742 761 121 506 597 771 330 79 770 115 792 740 68 86 14 47 781 9 722 851 325 767 617 921 118 326 240 700 581 97 839 48 756 6 161 221 605 486 113 294 665 992 920 554 494 608 514 685 256 893 62 220 529 764 89 357 566 232 618 831 214 534 532 117 309 540 371 161 996 365 209 349 744 955 976 807 860 987 767 113 299 528 294 135 869 881 302 966 999 375 565 19 306 719 368 682 620 882 420 963 705 537 421 951 3 528 792 14 922 480 266 327 578 489 576 57 186 39 550 373 206 534 373 342 644 107 65 468 47 289 855 694 670 95 336 196 778 81 881 459 811 278 748 462 617 475 702 256 210 615 575 836 575 989 570 364 782 194 84 984 602 327 171 840 332 91 771 873 518 134 364 668 730 874 844 599 652 522 924 719 400 840 17 937 438 691 25 775 616 942 141 225 538 386 155 418 196 876 417 246 324 754 75 258 156 895 905 728 710 363 705 664 460 967 767 724 477 751 940 874 848 573 248 103 323 706 548 904 140 1000 714 382 970 965 712 372 6 440 101 180 557 968 51 513 267 156 637 297 162 822 474 336 342 190 62 540 565 481 762 514 380 305 921 736 293 458 740 84 199 654 281 21 739 945 237 441 609 198 161 226 564 396 144 458 801 533 629 303 919 358 485 196 327 272 387 369 880 704 420 9 627 896 842 960 937 670 454 531 999 977 639 678 522 74 24 623 950 603 957 123 240 667 521 871 169 370 290 955 126 914 85 294 377 288 798 989 626 607 116 641 167 438 263 248 339 48 966 193 637 563 623 334 556 663 585 981 432 873 980 647 86 505 965 583 939 472 549 583 628 114 593 67 669 23 336 94 905 57 792 450 486 736 846 442 376 673 713 245 406 981 880 912 339 128 448 468 435 355 326 296 228 14 214 20 825 867 560 716 7 390 985 963 23 177 421 34 712 706 137 219 189 804 101 15 827 801 268 474 473 405 626 457 458 433 922 646 468 229 800 940 150 236 299 294 954 477 238 678 311 465 888 442 954 595 539 386 538 426 585 628 965 215 6 683 680 536 489 159 103 719 966 125 756 15 232 604 147 214 145 10 783 324 112 316 53 66 547 218 724 775 921 240 354 191 119 873 473
2 2 3 5 6 6 6 6 6 7 7 9 9 10 12 12 14 14 14 15 15 15 16 17 17 17 19 20 20 21 23 23 23 24 25 25 25 30 32 34 36 36 37 38 39 39 41 42 46 47 47 48 48 51 51 52 53 54 57 57 58 61 62 62 63 63 65 66 67 67 68 73 74 74 75 75 76 76 77 79 79 80 81 84 84 84 85 86 86 87 88 89 91 91 94 94 95 97 97 99 100 100 101 101 102 103 103 106 107 109 110 110 112 112 113 113 113 114 115 115 116 117 118 118 119 121 123 125 125 126 126 126 127 128 129 129 130 131 134 135 137 139 140 140 141 141 142 144 144 145 146 146 147 147 150 153 154 155 156 156 159 160 160 161 161 161 161 161 162 165 166 167 168 169 170 171 172 175 176 177 178 178 179 180 180 181 184 186 187 188 189 189 190 190 190 191 191 193 194 195 196 196 196 198 198 199 199 200 205 205 206 206 206 206 207 209 209 210 211 212 214 214 214 214 215 218 219 220 220 221 223 225 225 226 226 228 229 229 230 231 232 232 232 233 234 234 235 236 237 238 240 240 240 241 242 243 243 243 245 246 246 247 248 248 248 251 251 253 255 256 256 256 258 263 264 264 265 266 267 268 272 273 274 274 275 277 278 278 278 281 281 281 283 284 287 288 289 289 290 290 293 294 294 294 294 294 295 295 296 297 298 299 299 301 301 301 302 303 305 305 306 306 309 309 310 311 312 316 318 319 321 323 324 324 325 325 325 325 326 326 326 326 327 327 327 327 327 330 331 332 334 336 336 336 339 339 339 342 342 342 344 349 349 354 354 355 357 358 361 362 363 364 364 364 365 365 366 367 367 368 369 370 371 371 372 373 373 373 374 375 375 376 377 380 381 382 382 383 383 384 385 386 386 387 387 390 395 396 397 398 399 400 402 405 406 409 416 417 417 418 420 420 421 421 423 423 424 424 426 426 427 429 430 431 431 432 433 434 435 436 438 438 439 440 440 441 441 441 442 442 442 443 444 446 446 447 447 448 449 450 454 457 457 458 458 458 459 459 460 462 465 465 466 467 467 468 468 468 472 472 472 473 473 474 474 475 476 476 477 477 478 480 481 482 485 485 485 486 486 486 486 486 487 489 489 489 492 494 494 494 497 500 501 501 502 505 505 506 506 509 512 512 513 514 514 516 516 517 518 518 521 522 522 523 526 528 528 529 531 532 532 533 534 534 534 535 535 535 536 536 537 537 538 538 538 539 539 540 540 542 543 543 545 546 547 548 549 550 552 552 553 553 554 555 555 555 556 557 557 557 560 563 564 565 565 566 567 568 568 569 570 571 573 573 574 575 575 576 576 578 581 583 583 584 584 585 585 586 590 591 593 593 594 595 596 597 597 599 599 600 600 602 603 603 604 605 607 608 609 613 615 616 616 617 617 617 618 618 618 619 620 623 623 624 625 625 626 626 627 627 628 628 628 629 634 634 636 637 637 637 639 639 640 640 641 644 644 646 646 647 649 650 650 651 651 652 654 654 654 655 663 663 664 665 665 667 668 669 669 670 670 670 672 673 674 674 678 678 680 682 683 683 685 688 688 689 691 693 694 695 699 700 700 702 703 704 705 705 706 706 706 707 708 709 710 710 710 711 712 712 713 714 715 716 717 719 719 719 719 720 721 721 722 723 724 724 724 725 725 728 728 729 729 729 730 731 734 735 735 736 736 739 739 739 739 740 740 742 742 744 744 748 751 752 752 752 754 756 756 756 761 761 762 762 763 764 765 767 767 767 770 771 771 775 775 775 776 776 778 778 781 782 782 783 785 790 792 792 792 792 794 796 798 800 801 801 801 804 805 806 807 810 811 816 819 822 823 823 825 827 827 829 829 831 832 832 833 835 836 838 839 839 839 840 840 840 841 842 842 843 843 844 844 845 846 847 848 848 851 851 851 852 852 855 860 860 863 867 869 870 871 871 873 873 873 874 874 876 876 877 878 879 880 880 881 881 882 882 882 884 887 887 888 892 892 893 895 895 896 897 898 899 899 904 905 905 905 910 910 910 911 912 912 913 914 915 918 919 919 920 921 921 921 922 922 923 924 925 926 926 928 928 934 937 937 939 940 940 942 943 943 945 948 950 951 951 952 953 953 954 954 955 955 957 958 960 963 963 965 965 965 965 966 966 966 967 967 968 968 970 976 977 977 977 980 981 981 981 984 985 986 987 987 987 988 988 988 989 989 989 992 994 995 996 998 998 998 999 999 1000

# EXAM TERM 1

In [ ]:
score = 75.6
if ( score >= 80 ):
  print ("grade A")
elif ( score >= 60 ):
  print ("grade B")
elif ( score >= 40 ):
  print ("grade C")
elif ( score >= 20 ):
  print ("grade D")
else:
  print ("grade E")

grade B

In [ ]:
date = int(input("date: "))
plate = int(input("input plate number:"))
result = plate - date
num = result%2
if (num == 0):
  print ("You may pass the road")
elif (num == 1):
  print ("You may not pass the road")

date: 12
input plate number:111
You may not pass the road

In [ ]:
i = 0
n = int (input("n: " ))
while (i < n):
    print (3 ** i, end = " ")
    i = i + 1

n: 2
1 3

In [ ]:
n = int (input("value n: "))
for i in range (n):
  for j in range (n):
    print(i+1+(2*j), end= " ")
  print()
print()

value n: 5
1 3 5 7 9
2 4 6 8 10
3 5 7 9 11
4 6 8 10 12
5 7 9 11 13

In [ ]:
country = ["USA","India","Brazil","Russia","France"]
cases = [19.57, 10.20, 7.48, 3.05, 2.56]
idx = int (input("rank: "))

print("country:", country[idx-1])
print("cases:", cases[idx-1], "million")

rank: 2
country: India
cases: 10.2 million

# Day 1 TERM 2

In [ ]:
c1 = True
c2 = True
c3 = True
c4 = True
c5 = True



if (c1):
  if (c2):
    if (c3):
      print("A")
    else:
      print("b")
  else:
    print("c")
elif (c4):
    if (c5):
      print("d")
else: 
  print("e")
print("done")

A
done

In [ ]:
score = int (input("score: "))
if (100 >= score >= 0):
  print("valid score")
else:
  print("invalid score")

score: 30
valid score

In [ ]:
englishscore = int (input("english score: "))
mathscore = int (input("math score: "))
physicsscore = int (input("physics score: "))
average = (englishscore + mathscore + physicsscore)/3
print("average score: ",average)

if (englishscore >= 85 and mathscore >= 90 and physicsscore >= 75 and average >= 80):
  print("passed")
else:
  print("failed")

english score: 100
math score: 90
physics score: 90
average score:  93.33333333333333
passed

In [ ]:
score = input("score(0-100) = ")
if (score.isdigit()):
  score = int(score)
  if (score >= 0 and score <= 100):
    print("This is a valid score")
  elif (score >= 0):
    print("score must be less than or equal to 100")
  elif (score <= 100):
    print("score must be greater than or equal to 0")
else:
  if ("." in score):
    score = float(score)
    if (score >= 0 and score <= 100):
      print("This is a valid score")
    elif (score >= 0):
      print("score must be less than or equal to 100")
    elif (score <= 100):
      print("score must be greater than or equal to 0")
  else:
    print("score must be a number")

score(0-100) = 100
This is a valid score

# Day 2

In [ ]:
import random
n = 5
m = 7
for i in range(n):
  print(i+1, end=" - ")
  while True:
    num = random.randint(1,9)
    print(num, end=" ")
    if (num == m):
      break
  print()

1 - 1 7
2 - 5 5 5 9 4 1 5 6 1 1 9 4 4 1 4 1 2 9 4 8 5 5 5 8 7
3 - 7
4 - 9 1 1 7
5 - 2 8 2 8 1 4 9 3 2 5 1 5 9 9 9 8 7

In [ ]:
lev = 3
row = 2
col = 5
for l in range (lev):
  for r in range (row):
    for c in range (col):
      print(r+c+l, end=' ')
    print()
  print()

0 1 2 3 4
1 2 3 4 5

1 2 3 4 5
2 3 4 5 6

2 3 4 5 6
3 4 5 6 7

In [ ]:
table = [
          [
             [3,2,1,0,10,4,6,7],
             [3,1,1,1,7,5,2,4],
             [3,1,2,1,8,6,2,5],
             [3,0,1,2,6,10,-14,1]
          ],
          [
             [3,2,1,0,10,4,6,7],
             [3,1,1,1,7,5,2,4],
             [3,1,2,1,8,6,2,5],
             [3,0,1,2,6,10,-14,1]
         ],
         [
             [3,2,1,0,10,4,6,7],
             [3,1,1,1,7,5,2,4],
             [3,1,2,1,8,6,2,5],
             [3,0,1,2,6,10,-14,1]
         ] 
       ]

teams = [
        ["Italy", "Switzerland", "Turkey", "Wales"],   
        ["Belgium", "Denmark", "Finland", "Russia"],  
        ["Austria", "Netherland", "North Macedonia", "Ukraine"]     
        ] 
ng = 3
nt = 4
nc = 8
for g in range(ng):
  print("Group ",end = chr(g+65))
  print("                             MP    W     D     L    GF    GA    GD    PTS")
  for t in range(nt):
    print( format(teams[g][t], "25s"), end="\t")
    for c in range(nc):
      num = table [g][t][c]
      print( format(num,"5d"), end =" ")
    print()
  print()

Group A                             MP    W     D     L    GF    GA    GD    PTS
Italy                    	    3     2     1     0    10     4     6     7
Switzerland              	    3     1     1     1     7     5     2     4
Turkey                   	    3     1     2     1     8     6     2     5
Wales                    	    3     0     1     2     6    10   -14     1

Group B                             MP    W     D     L    GF    GA    GD    PTS
Belgium                  	    3     2     1     0    10     4     6     7
Denmark                  	    3     1     1     1     7     5     2     4
Finland                  	    3     1     2     1     8     6     2     5
Russia                   	    3     0     1     2     6    10   -14     1

Group C                             MP    W     D     L    GF    GA    GD    PTS
Austria                  	    3     2     1     0    10     4     6     7
Netherland               	    3     1     1     1     7     5     2     4
North Macedonia          	    3     1     2     1     8     6     2     5
Ukraine                  	    3     0     1     2     6    10   -14     1

In [ ]:
table = [
          [
            [ 3, 2, 1, 0, 10, 4, 0, 0],
            [ 3, 2, 1, 1, 7, 5, 0, 0],
            [ 3, 2, 1, 1, 8, 6, 0, 0],
            [ 3, 0, 1, 2, 6, 10, 0, 0]
          ],
          [
            [ 3, 2, 1, 0, 10, 4, 0, 0],
            [ 3, 2, 1, 1, 7, 5, 0, 0],
            [ 3, 2, 1, 1, 8, 6, 0, 0],
            [ 3, 0, 1, 2, 6, 10, 0, 0]
          ],
          [
            [ 3, 2, 1, 0, 10, 4, 0, 0],
            [ 3, 2, 1, 1, 7, 5, 0, 0],
            [ 3, 2, 1, 1, 8, 6, 0, 0],
            [ 3, 0, 1, 2, 6, 10, 0, 0]
          ] 
        ]

teams = [
        ["Italy", "Switzerland", "Turkey", "Wales"],
        ["Belgium", "Denmark", "Finland", "Russia"],
        ["Austria", "Netherkabd", "North Macedonia", "Ukraine"]
        ]
ng = 3
nt = 4
nc = 8
for g in range(ng):
  print("Group", chr(g+65), end= "\t\t\t") #chr converts num to letter using the ascii code
  print("      MP    W     D     L    GF    GA    GD    Pts")
  for t in range(nt):
    print( format(teams[g][t], "25s"), end=" ") 
    table[g][t][0] = table[g][t][1] + table[g][t][2] + table[g][t][3]
    table[g][t][6] = table[g][t][4] - table[g][t][5]
    table[g][t][7] = table[g][t][1] * 3 + table[g][t][2]
    for c in range(nc):
      num = table[g][t][c]
      print( format(num,"5d"), end= " ")
    print()
  print()

Group A			      MP    W     D     L    GF    GA    GD    Pts
Italy                         3     2     1     0    10     4     6     7
Switzerland                   4     2     1     1     7     5     2     7
Turkey                        4     2     1     1     8     6     2     7
Wales                         3     0     1     2     6    10    -4     1

Group B			      MP    W     D     L    GF    GA    GD    Pts
Belgium                       3     2     1     0    10     4     6     7
Denmark                       4     2     1     1     7     5     2     7
Finland                       4     2     1     1     8     6     2     7
Russia                        3     0     1     2     6    10    -4     1

Group C			      MP    W     D     L    GF    GA    GD    Pts
Austria                       3     2     1     0    10     4     6     7
Netherkabd                    4     2     1     1     7     5     2     7
North Macedonia               4     2     1     1     8     6     2     7
Ukraine                       3     0     1     2     6    10    -4     1

In [ ]:
table = [ 
          [
            [ 0, 2, 1, 0, 10, 4, 0, 0 ],
            [ 0, 1, 1, 1,  7, 5, 0, 0 ],
            [ 0, 1, 2, 1,  8, 6, 0, 0 ],
            [ 0, 0, 1, 2,  6,10, 0, 0 ]
          ],
          [ 
            [ 0, 2, 1, 0, 10, 4, 0, 0 ],
            [ 0, 1, 1, 1,  7, 5, 0, 0 ],
            [ 0, 1, 2, 1,  8, 6, 0, 0 ],
            [ 0, 0, 1, 2,  6,10, 0, 0 ]
          ],
          [ 
            [ 0, 2, 1, 0, 10, 4, 0, 0 ],
            [ 0, 1, 1, 1,  7, 5, 0, 0 ],
            [ 0, 1, 2, 1,  8, 6, 0, 0 ],
            [ 0, 0, 1, 2,  6,10, 0, 0 ]
          ],
          [ 
            [ 0, 2, 1, 0, 10, 4, 0, 0 ],
            [ 0, 1, 1, 1,  7, 5, 0, 0 ],
            [ 0, 1, 2, 1,  8, 6, 0, 0 ],
            [ 0, 0, 1, 2,  6,10, 0, 0 ]
          ],
          [ 
            [ 0, 2, 1, 0, 10, 4, 0, 0 ],
            [ 0, 1, 1, 1,  7, 5, 0, 0 ],
            [ 0, 1, 2, 1,  8, 6, 0, 0 ],
            [ 0, 0, 1, 2,  6,10, 0, 0 ]
          ],
          [ 
            [ 0, 2, 1, 0, 10, 4, 0, 0 ],
            [ 0, 1, 1, 1,  7, 5, 0, 0 ],
            [ 0, 1, 2, 1,  8, 6, 0, 0 ],
            [ 0, 0, 1, 2,  6,10, 0, 0 ]
          ],
        ]
teams = [
          ["Italy",   "Switzerland",    "Turkey",          "Wales"  ],
          ["Belgium", "Denmark",        "Finland",         "Russia" ],
          ["Austria", "Netherland",     "North Macedonia", "Ukraine"],
          ["Croatia", "Czech Republic", "England",         "Scotland"],
          ["Poland",  "Slovakia",       "Spain",           "Sweden"  ],
          ["France",  "Germany",        "Hungary",         "Portugal"]
        ]
ng = 6
nt = 4
nc = 8
for g in range(ng):
  print("Group", chr(g+65), end="\t\t\t")
  print("      MP    W     D     L    GF    GA    GD    Pts")
  for t in range (nt):
    print( format(teams[g][t], "25s"), end =" ")
    table[g][t][0] = table[g][t][1] + table[g][t][2] + table[g][t][3]
    table[g][t][6] = table[g][t][4] - table[g][t][5]
    table[g][t][7] = table[g][t][1] * 3 + table[g][t][2]
    for c in range (nc):
      num = table[g][t][c]
      print( format(num,"5d"), end=" ")
    print()
  print()

Group A			      MP    W     D     L    GF    GA    GD    Pts
Italy                         3     2     1     0    10     4     6     7
Switzerland                   3     1     1     1     7     5     2     4
Turkey                        4     1     2     1     8     6     2     5
Wales                         3     0     1     2     6    10    -4     1

Group B			      MP    W     D     L    GF    GA    GD    Pts
Belgium                       3     2     1     0    10     4     6     7
Denmark                       3     1     1     1     7     5     2     4
Finland                       4     1     2     1     8     6     2     5
Russia                        3     0     1     2     6    10    -4     1

Group C			      MP    W     D     L    GF    GA    GD    Pts
Austria                       3     2     1     0    10     4     6     7
Netherland                    3     1     1     1     7     5     2     4
North Macedonia               4     1     2     1     8     6     2     5
Ukraine                       3     0     1     2     6    10    -4     1

Group D			      MP    W     D     L    GF    GA    GD    Pts
Croatia                       3     2     1     0    10     4     6     7
Czech Republic                3     1     1     1     7     5     2     4
England                       4     1     2     1     8     6     2     5
Scotland                      3     0     1     2     6    10    -4     1

Group E			      MP    W     D     L    GF    GA    GD    Pts
Poland                        3     2     1     0    10     4     6     7
Slovakia                      3     1     1     1     7     5     2     4
Spain                         4     1     2     1     8     6     2     5
Sweden                        3     0     1     2     6    10    -4     1

Group F			      MP    W     D     L    GF    GA    GD    Pts
France                        3     2     1     0    10     4     6     7
Germany                       3     1     1     1     7     5     2     4
Hungary                       4     1     2     1     8     6     2     5
Portugal                      3     0     1     2     6    10    -4     1

# Day 3

In [ ]:
teams = [
          ["Italy",   "Switzerland",    "Turkey",          "Wales"  ],
          ["Belgium", "Denmark",        "Finland",         "Russia" ],
          ["Austria", "Netherland",     "North Macedonia", "Ukraine"],
          ["Croatia", "Czech Republic", "England",         "Scotland"],
          ["Poland",  "Slovakia",       "Spain",           "Sweden"  ],
          ["France",  "Germany",        "Hungary",         "Portugal"]
        ]

import random 
ng,nt,nc = 6,4,8
table = [[[0 for c in range(nc)]
             for t in range(nt)]
             for g in range(ng)]
for g in range(ng):
  for t1 in range(nt - 1):
    for t2 in range(t1+1, nt):
      gt1 = random.randint(0,8)
      gt2 = random.randint(0,8)
      print(teams[g][t1],"vs", teams[g][t2],"=",gt1, ":", gt2)
    print()
  print()
print() 
if (gt1>gt2):
  table[g][t1][1]+=1
  table[g][t2][3]+=1
elif (gt2>gt1):
  table[g][t2][1]+=1
  table[g][t1][3]+=1
else:
  table[g][t1][2]+=1
  table[g][t2][2]+=1

table[g][t1][4] += gt1
table[g][t2][4] += gt2
table[g][t1][5] += gt2
table[g][t2][5] += gt1

Italy vs Switzerland = 6 : 2
Italy vs Turkey = 0 : 0
Italy vs Wales = 8 : 2

Switzerland vs Turkey = 5 : 8
Switzerland vs Wales = 4 : 7

Turkey vs Wales = 0 : 1


Belgium vs Denmark = 3 : 3
Belgium vs Finland = 7 : 6
Belgium vs Russia = 4 : 3

Denmark vs Finland = 8 : 7
Denmark vs Russia = 1 : 6

Finland vs Russia = 6 : 1


Austria vs Netherland = 5 : 3
Austria vs North Macedonia = 5 : 3
Austria vs Ukraine = 2 : 5

Netherland vs North Macedonia = 7 : 2
Netherland vs Ukraine = 5 : 1

North Macedonia vs Ukraine = 1 : 8


Croatia vs Czech Republic = 3 : 5
Croatia vs England = 1 : 1
Croatia vs Scotland = 2 : 5

Czech Republic vs England = 2 : 7
Czech Republic vs Scotland = 7 : 7

England vs Scotland = 0 : 7


Poland vs Slovakia = 7 : 7
Poland vs Spain = 5 : 4
Poland vs Sweden = 7 : 4

Slovakia vs Spain = 1 : 4
Slovakia vs Sweden = 5 : 5

Spain vs Sweden = 3 : 7


France vs Germany = 2 : 2
France vs Hungary = 6 : 6
France vs Portugal = 8 : 6

Germany vs Hungary = 0 : 3
Germany vs Portugal = 1 : 8

Hungary vs Portugal = 0 : 0

In [ ]:
for g in range(ng):
  for t1 in range(nt-1):
    for t2 in range(t1 + 1,nt):
      if (table[g][t1]<table[g][t2]):
        for c in range (nc):
          table[g][t1][c],
          table[g][t2][c]=
          table[g][t2][c],
          table[g][t1][c]

SyntaxError: ignored

In [ ]:
import random

ng = 6
nt = 4
nc = 8  

table = [[[0 for c in range(nc)] # the 0 means you input all the values in the table as 0
             for t in range(nt)]
             for g in range (ng)]

teams = [
        ["Italy", "Switzerland", "Turkey", "Wales"],
        ["Belgium", "Denmark", "Finland", "Russia"],
        ["Austria", "Netherland", "North Macedonia", "Ukraine"],
        ["Croatia", "Czech Republic", "England", "Scotland"],
        ["Poland", "Slovakia", "Spain", "Sweden"],
        ["France", "Germany", "Hungary", "Portugal"]
        ]

# to create random matches and give the team points according to win / loss  
for g in range(ng):
  for t1 in range(nt - 1): # starts at team 0 then 1 then 2 then, (nt, which is 4, -1), 3
    for t2 in range (t1 + 1, nt): # so t1 + 1 will make the team 1 go against the team next to it 
      gt1 = random.randint (0, 8)
      gt2 = random.randint (0, 8)
      print(teams[g][t1], "vs", teams[g][t2], "=", gt1, ":", gt2) # the g is the one controlling which teams in which group  is playing 
      if (gt1 > gt2):
        table [g][t1][1] += 1
        table [g][t2][3] += 1
      elif (gt2 > gt1):
        table [g][t2][1] += 1
        table [g][t1][3] += 1
      else: 
        table [g][t1][2] += 1
        table [g][t2][2] += 1
      table [g][t1][4] += gt1
      table [g][t2][4] += gt2
      table [g][t2][5] += gt2
      table [g][t2][5] += gt1

# to sort the teams by points
for g in range(ng):
  for t1 in range(nt - 1): 
    for t2 in range (t1 + 1, nt): 
      if (table[g][t1] < table[g][t2]):
        for c in range(nc):
          table[g][t1][c], table[g][t2][c] = table[g][t2][c], table[g][t1][c]
print()
# to print the table
for g in range(ng):
  print("Group", chr(g+65), end= "\t\t\t") #chr converts num to letter using the ascii code
  print("      MP    W     D     L    GF    GA    GD    Pts")
  for t in range(nt):
    print( format(teams[g][t], "25s"), end= " ") 
    table[g][t][0] = table[g][t][1] + table[g][t][2] + table[g][t][3]
    table[g][t][6] = table[g][t][4] - table[g][t][5]
    table[g][t][7] = table[g][t][1] * 3 + table[g][t][2]
    for c in range(nc):
      num = table[g][t][c]
      print( format(num,"5d"), end= " ")
    print()
  print()
print()

Italy vs Switzerland = 6 : 5
Italy vs Turkey = 6 : 4
Italy vs Wales = 2 : 6
Switzerland vs Turkey = 0 : 7
Switzerland vs Wales = 0 : 7
Turkey vs Wales = 3 : 8
Belgium vs Denmark = 6 : 7
Belgium vs Finland = 2 : 2
Belgium vs Russia = 0 : 0
Denmark vs Finland = 3 : 4
Denmark vs Russia = 5 : 8
Finland vs Russia = 0 : 4
Austria vs Netherland = 4 : 0
Austria vs North Macedonia = 8 : 8
Austria vs Ukraine = 7 : 1
Netherland vs North Macedonia = 8 : 6
Netherland vs Ukraine = 6 : 5
North Macedonia vs Ukraine = 2 : 5
Croatia vs Czech Republic = 5 : 7
Croatia vs England = 6 : 6
Croatia vs Scotland = 4 : 5
Czech Republic vs England = 0 : 6
Czech Republic vs Scotland = 2 : 3
England vs Scotland = 2 : 5
Poland vs Slovakia = 8 : 7
Poland vs Spain = 3 : 7
Poland vs Sweden = 1 : 7
Slovakia vs Spain = 4 : 3
Slovakia vs Sweden = 5 : 6
Spain vs Sweden = 2 : 5
France vs Germany = 5 : 7
France vs Hungary = 5 : 7
France vs Portugal = 1 : 6
Germany vs Hungary = 4 : 3
Germany vs Portugal = 4 : 8
Hungary vs Portugal = 1 : 8

Group A			      MP    W     D     L    GF    GA    GD    Pts
Italy                         3     3     0     0    21    26    -5     9
Switzerland                   3     2     0     1    14     0    14     6
Turkey                        3     1     0     2    14    17    -3     3
Wales                         3     0     0     3     5    11    -6     0

Group B			      MP    W     D     L    GF    GA    GD    Pts
Belgium                       3     2     1     0    12    17    -5     7
Denmark                       3     1     1     1     6    11    -5     4
Finland                       3     1     0     2    15    13     2     3
Russia                        3     0     2     1     8     0     8     2

Group C			      MP    W     D     L    GF    GA    GD    Pts
Austria                       3     2     1     0    19     0    19     7
Netherland                    3     2     0     1    14     4    10     6
North Macedonia               3     1     0     2    11    26   -15     3
Ukraine                       3     0     1     2    16    30   -14     1

Group D			      MP    W     D     L    GF    GA    GD    Pts
Croatia                       3     3     0     0    13    21    -8     9
Czech Republic                3     1     1     1    14    18    -4     4
England                       3     1     0     2     9    12    -3     3
Scotland                      3     0     1     2    15     0    15     1

Group E			      MP    W     D     L    GF    GA    GD    Pts
Poland                        3     3     0     0    18    26    -8     9
Slovakia                      3     1     0     2    16    15     1     3
Spain                         3     1     0     2    12    17    -5     3
Sweden                        3     1     0     2    12     0    12     3

Group F			      MP    W     D     L    GF    GA    GD    Pts
France                        3     3     0     0    22    28    -6     9
Germany                       3     2     0     1    15    12     3     6
Hungary                       3     1     0     2    11    19    -8     3
Portugal                      3     0     0     3    11     0    11     0

# Day 4

In [ ]:
import random
def tossDie(n, pos):
  head = [4, 9, 17, 20, 28, 40, 51, 54, 62, 63, 64, 71, 87, 93, 95, 99]
  tail = [14, 31, 7, 38, 84, 59, 67, 34, 19, 81, 60, 91, 24, 73, 75, 78]
  die = random.randint(1,6)
  print("Player", n, ":", pos, "+", die, end=" = " )
  pos = pos + die
  if pos > 100:
    pos = 200 - pos
  for i in range(len(head)):
    if pos == head[i]:
      print(pos, end = " => ")
      pos = tail[i]
      if head[i] > tail[i]:
       print(end = " snake => ")
      else:
        print(end= "ladders => ")
      break
    elif (pos<head[i]):
      break
  print(pos)
  return pos

p1 = 0
p2 = 0
r = 1
while(True):
  print("\nRound", r)
  p1 = tossDie(1, p1)
  p2 = tossDie(2, p2)
  if p1==100 or p2==100:
    break
  r+=1

Round 1
Player 1 : 0 + 6 = 6
Player 2 : 0 + 3 = 3

Round 2
Player 1 : 6 + 3 = 9 => ladders => 31
Player 2 : 3 + 6 = 9 => ladders => 31

Round 3
Player 1 : 31 + 4 = 35
Player 2 : 31 + 2 = 33

Round 4
Player 1 : 35 + 6 = 41
Player 2 : 33 + 2 = 35

Round 5
Player 1 : 41 + 3 = 44
Player 2 : 35 + 5 = 40 => ladders => 59

Round 6
Player 1 : 44 + 5 = 49
Player 2 : 59 + 5 = 64 =>  snake => 60

Round 7
Player 1 : 49 + 1 = 50
Player 2 : 60 + 5 = 65

Round 8
Player 1 : 50 + 2 = 52
Player 2 : 65 + 6 = 71 => ladders => 91

Round 9
Player 1 : 52 + 6 = 58
Player 2 : 91 + 1 = 92

Round 10
Player 1 : 58 + 5 = 63 => ladders => 81
Player 2 : 92 + 2 = 94

Round 11
Player 1 : 81 + 5 = 86
Player 2 : 94 + 2 = 96

Round 12
Player 1 : 86 + 2 = 88
Player 2 : 96 + 3 = 99 =>  snake => 78

Round 13
Player 1 : 88 + 4 = 92
Player 2 : 78 + 4 = 82

Round 14
Player 1 : 92 + 4 = 96
Player 2 : 82 + 2 = 84

Round 15
Player 1 : 96 + 3 = 99 =>  snake => 78
Player 2 : 84 + 4 = 88

Round 16
Player 1 : 78 + 5 = 83
Player 2 : 88 + 6 = 94

Round 17
Player 1 : 83 + 3 = 86
Player 2 : 94 + 5 = 99 =>  snake => 78

Round 18
Player 1 : 86 + 4 = 90
Player 2 : 78 + 4 = 82

Round 19
Player 1 : 90 + 4 = 94
Player 2 : 82 + 2 = 84

Round 20
Player 1 : 94 + 6 = 100
Player 2 : 84 + 3 = 87 =>  snake => 24

In [ ]:
import random
def tossDie(n, pos):
  head = [4, 9, 17, 20, 28, 40, 51, 54, 62, 63, 64, 71, 87, 93, 95, 99]
  tail = [14, 31, 7, 38, 84, 59, 67, 34, 19, 81, 60, 91, 24, 73, 75, 78]
  die = random.randint(1,6)
  print("Player", n, ":", pos, "+", die, end=" = " )
  pos = pos + die
  if pos > 100:
    pos = 200 - pos
  for i in range(len(head)):
    if pos == head[i]:
      print(pos, end = " => ")
      pos = tail[i]
      if head[i] > tail[i]:
       print(end = " snake => ")
      else:
        print(end= "ladders => ")
      break
    elif (pos<head[i]):
      break
  print(pos)
  return pos

p1 = 0
p2 = 0
p3 = 0
r = 1
while(True):
  print("\nRound", r)
  p1 = tossDie(1, p1)
  p2 = tossDie(2, p2)
  p3 = tossDie(3, p3)
  if p1==100 or p2==100 or p3==100:
    break
  r+=1

Round 1
Player 1 : 0 + 3 = 3
Player 2 : 0 + 3 = 3
Player 3 : 0 + 6 = 6

Round 2
Player 1 : 3 + 4 = 7
Player 2 : 3 + 4 = 7
Player 3 : 6 + 4 = 10

Round 3
Player 1 : 7 + 3 = 10
Player 2 : 7 + 6 = 13
Player 3 : 10 + 1 = 11

Round 4
Player 1 : 10 + 3 = 13
Player 2 : 13 + 4 = 17 =>  snake => 7
Player 3 : 11 + 3 = 14

Round 5
Player 1 : 13 + 3 = 16
Player 2 : 7 + 3 = 10
Player 3 : 14 + 1 = 15

Round 6
Player 1 : 16 + 5 = 21
Player 2 : 10 + 1 = 11
Player 3 : 15 + 6 = 21

Round 7
Player 1 : 21 + 2 = 23
Player 2 : 11 + 5 = 16
Player 3 : 21 + 5 = 26

Round 8
Player 1 : 23 + 4 = 27
Player 2 : 16 + 1 = 17 =>  snake => 7
Player 3 : 26 + 6 = 32

Round 9
Player 1 : 27 + 6 = 33
Player 2 : 7 + 3 = 10
Player 3 : 32 + 4 = 36

Round 10
Player 1 : 33 + 3 = 36
Player 2 : 10 + 6 = 16
Player 3 : 36 + 3 = 39

Round 11
Player 1 : 36 + 4 = 40 => ladders => 59
Player 2 : 16 + 6 = 22
Player 3 : 39 + 6 = 45

Round 12
Player 1 : 59 + 2 = 61
Player 2 : 22 + 6 = 28 => ladders => 84
Player 3 : 45 + 6 = 51 => ladders => 67

Round 13
Player 1 : 61 + 1 = 62 =>  snake => 19
Player 2 : 84 + 1 = 85
Player 3 : 67 + 4 = 71 => ladders => 91

Round 14
Player 1 : 19 + 1 = 20 => ladders => 38
Player 2 : 85 + 2 = 87 =>  snake => 24
Player 3 : 91 + 2 = 93 =>  snake => 73

Round 15
Player 1 : 38 + 5 = 43
Player 2 : 24 + 4 = 28 => ladders => 84
Player 3 : 73 + 3 = 76

Round 16
Player 1 : 43 + 6 = 49
Player 2 : 84 + 4 = 88
Player 3 : 76 + 5 = 81

Round 17
Player 1 : 49 + 1 = 50
Player 2 : 88 + 3 = 91
Player 3 : 81 + 4 = 85

Round 18
Player 1 : 50 + 4 = 54 =>  snake => 34
Player 2 : 91 + 2 = 93 =>  snake => 73
Player 3 : 85 + 2 = 87 =>  snake => 24

Round 19
Player 1 : 34 + 4 = 38
Player 2 : 73 + 3 = 76
Player 3 : 24 + 1 = 25

Round 20
Player 1 : 38 + 6 = 44
Player 2 : 76 + 2 = 78
Player 3 : 25 + 3 = 28 => ladders => 84

Round 21
Player 1 : 44 + 6 = 50
Player 2 : 78 + 5 = 83
Player 3 : 84 + 6 = 90

Round 22
Player 1 : 50 + 5 = 55
Player 2 : 83 + 4 = 87 =>  snake => 24
Player 3 : 90 + 2 = 92

Round 23
Player 1 : 55 + 3 = 58
Player 2 : 24 + 5 = 29
Player 3 : 92 + 2 = 94

Round 24
Player 1 : 58 + 4 = 62 =>  snake => 19
Player 2 : 29 + 6 = 35
Player 3 : 94 + 3 = 97

Round 25
Player 1 : 19 + 1 = 20 => ladders => 38
Player 2 : 35 + 2 = 37
Player 3 : 97 + 5 = 98

Round 26
Player 1 : 38 + 1 = 39
Player 2 : 37 + 5 = 42
Player 3 : 98 + 3 = 99 =>  snake => 78

Round 27
Player 1 : 39 + 6 = 45
Player 2 : 42 + 6 = 48
Player 3 : 78 + 2 = 80

Round 28
Player 1 : 45 + 5 = 50
Player 2 : 48 + 2 = 50
Player 3 : 80 + 2 = 82

Round 29
Player 1 : 50 + 4 = 54 =>  snake => 34
Player 2 : 50 + 1 = 51 => ladders => 67
Player 3 : 82 + 4 = 86

Round 30
Player 1 : 34 + 3 = 37
Player 2 : 67 + 1 = 68
Player 3 : 86 + 3 = 89

Round 31
Player 1 : 37 + 5 = 42
Player 2 : 68 + 6 = 74
Player 3 : 89 + 3 = 92

Round 32
Player 1 : 42 + 4 = 46
Player 2 : 74 + 3 = 77
Player 3 : 92 + 5 = 97

Round 33
Player 1 : 46 + 6 = 52
Player 2 : 77 + 2 = 79
Player 3 : 97 + 2 = 99 =>  snake => 78

Round 34
Player 1 : 52 + 4 = 56
Player 2 : 79 + 4 = 83
Player 3 : 78 + 5 = 83

Round 35
Player 1 : 56 + 5 = 61
Player 2 : 83 + 6 = 89
Player 3 : 83 + 4 = 87 =>  snake => 24

Round 36
Player 1 : 61 + 2 = 63 => ladders => 81
Player 2 : 89 + 5 = 94
Player 3 : 24 + 4 = 28 => ladders => 84

Round 37
Player 1 : 81 + 3 = 84
Player 2 : 94 + 2 = 96
Player 3 : 84 + 4 = 88

Round 38
Player 1 : 84 + 1 = 85
Player 2 : 96 + 4 = 100
Player 3 : 88 + 6 = 94

In [ ]:
import random
def tossDie(name, pos):
  head = [4, 9, 17, 20, 28, 40, 51, 54, 62, 63, 64, 71, 87, 93, 95, 99]
  tail = [14, 31, 7, 38, 84, 59, 67, 34, 19, 81, 60, 91, 24, 73, 75, 78]
  die = random.randint(1,6)
  print(name, ":", pos, "+", die, end=" = " )
  pos = pos + die
  if pos > 100:
    pos = 200 - pos
  for i in range(len(head)):
    if pos == head[i]:
      print(pos, end = " => ")
      pos = tail[i]
      if head[i] > tail[i]:
       print(end = " snake => ")
      else:
        print(end= "ladders => ")
      break
    elif (pos<head[i]):
      break
  if (pos == 100):
    print(pos, "Winner!!!")
  else:
    print(pos)
  return pos

while (True):
  n = int (input("How many players? "))
  if (n<2 or n>100):
    print("invalid no. of players")
  else:
    break
names = [""]*n
player = [0]*n
for i in range(n):
  names[i] = input("name of player " + str(i+1) + ":")
r = 1
hasWinner = False
while (hasWinner == False):
  print("\nRound", r)
  for i in range(n):
    player[i] = tossDie(names[i], player[i])
  for i in range(n):
    if player[i]==100:
      hasWinner = True
      break
  r+=1

How many players? 3
name of player 1:joseph
name of player 2:joshua
name of player 3:tristan

Round 1
joseph : 0 + 4 = 4 => ladders => 14
joshua : 0 + 6 = 6
tristan : 0 + 2 = 2

Round 2
joseph : 14 + 1 = 15
joshua : 6 + 6 = 12
tristan : 2 + 1 = 3

Round 3
joseph : 15 + 6 = 21
joshua : 12 + 2 = 14
tristan : 3 + 5 = 8

Round 4
joseph : 21 + 3 = 24
joshua : 14 + 5 = 19
tristan : 8 + 3 = 11

Round 5
joseph : 24 + 4 = 28 => ladders => 84
joshua : 19 + 1 = 20 => ladders => 38
tristan : 11 + 1 = 12

Round 6
joseph : 84 + 4 = 88
joshua : 38 + 3 = 41
tristan : 12 + 1 = 13

Round 7
joseph : 88 + 6 = 94
joshua : 41 + 3 = 44
tristan : 13 + 6 = 19

Round 8
joseph : 94 + 3 = 97
joshua : 44 + 4 = 48
tristan : 19 + 1 = 20 => ladders => 38

Round 9
joseph : 97 + 1 = 98
joshua : 48 + 4 = 52
tristan : 38 + 2 = 40 => ladders => 59

Round 10
joseph : 98 + 1 = 99 =>  snake => 78
joshua : 52 + 5 = 57
tristan : 59 + 3 = 62 =>  snake => 19

Round 11
joseph : 78 + 2 = 80
joshua : 57 + 2 = 59
tristan : 19 + 3 = 22

Round 12
joseph : 80 + 2 = 82
joshua : 59 + 1 = 60
tristan : 22 + 5 = 27

Round 13
joseph : 82 + 3 = 85
joshua : 60 + 5 = 65
tristan : 27 + 5 = 32

Round 14
joseph : 85 + 2 = 87 =>  snake => 24
joshua : 65 + 6 = 71 => ladders => 91
tristan : 32 + 6 = 38

Round 15
joseph : 24 + 4 = 28 => ladders => 84
joshua : 91 + 3 = 94
tristan : 38 + 6 = 44

Round 16
joseph : 84 + 3 = 87 =>  snake => 24
joshua : 94 + 2 = 96
tristan : 44 + 3 = 47

Round 17
joseph : 24 + 1 = 25
joshua : 96 + 1 = 97
tristan : 47 + 6 = 53

Round 18
joseph : 25 + 3 = 28 => ladders => 84
joshua : 97 + 5 = 98
tristan : 53 + 1 = 54 =>  snake => 34

Round 19
joseph : 84 + 5 = 89
joshua : 98 + 1 = 99 =>  snake => 78
tristan : 34 + 4 = 38

Round 20
joseph : 89 + 3 = 92
joshua : 78 + 1 = 79
tristan : 38 + 5 = 43

Round 21
joseph : 92 + 4 = 96
joshua : 79 + 5 = 84
tristan : 43 + 3 = 46

Round 22
joseph : 96 + 1 = 97
joshua : 84 + 5 = 89
tristan : 46 + 3 = 49

Round 23
joseph : 97 + 4 = 99 =>  snake => 78
joshua : 89 + 4 = 93 =>  snake => 73
tristan : 49 + 2 = 51 => ladders => 67

Round 24
joseph : 78 + 2 = 80
joshua : 73 + 4 = 77
tristan : 67 + 2 = 69

Round 25
joseph : 80 + 5 = 85
joshua : 77 + 3 = 80
tristan : 69 + 1 = 70

Round 26
joseph : 85 + 5 = 90
joshua : 80 + 3 = 83
tristan : 70 + 1 = 71 => ladders => 91

Round 27
joseph : 90 + 2 = 92
joshua : 83 + 3 = 86
tristan : 91 + 6 = 97

Round 28
joseph : 92 + 1 = 93 =>  snake => 73
joshua : 86 + 4 = 90
tristan : 97 + 4 = 99 =>  snake => 78

Round 29
joseph : 73 + 2 = 75
joshua : 90 + 1 = 91
tristan : 78 + 1 = 79

Round 30
joseph : 75 + 6 = 81
joshua : 91 + 3 = 94
tristan : 79 + 1 = 80

Round 31
joseph : 81 + 5 = 86
joshua : 94 + 2 = 96
tristan : 80 + 5 = 85

Round 32
joseph : 86 + 3 = 89
joshua : 96 + 3 = 99 =>  snake => 78
tristan : 85 + 4 = 89

Round 33
joseph : 89 + 3 = 92
joshua : 78 + 1 = 79
tristan : 89 + 2 = 91

Round 34
joseph : 92 + 6 = 98
joshua : 79 + 1 = 80
tristan : 91 + 3 = 94

Round 35
joseph : 98 + 4 = 98
joshua : 80 + 6 = 86
tristan : 94 + 1 = 95 =>  snake => 75

Round 36
joseph : 98 + 2 = 100 Winner!!!
joshua : 86 + 4 = 90
tristan : 75 + 5 = 80

# Day 5

In [ ]:
import random

ng = 6
nt = 4
nc = 8  

table = [[[0 for c in range(nc)] # the 0 means you input all the values in the table as 0
             for t in range(nt)]
             for g in range (ng)]

teams = [
        ["Italy", "Switzerland", "Turkey", "Wales"],
        ["Belgium", "Denmark", "Finland", "Russia"],
        ["Austria", "Netherland", "North Macedonia", "Ukraine"],
        ["Croatia", "Czech Republic", "England", "Scotland"],
        ["Poland", "Slovakia", "Spain", "Sweden"],
        ["France", "Germany", "Hungary", "Portugal"]
        ]

# to create random matches and give the team points according to win / loss  
for g in range(ng):
  for t1 in range(nt - 1): # starts at team 0 then 1 then 2 then, (nt, which is 4, -1), 3
    for t2 in range (t1 + 1, nt): # so t1 + 1 will make the team 1 go against the team next to it 
      gt1 = random.randint (0, 8)
      gt2 = random.randint (0, 8)
      print(teams[g][t1], "vs", teams[g][t2], "=", gt1, ":", gt2) # the g is the one controlling which teams in which group  is playing 
      if (gt1 > gt2):
        table [g][t1][1] += 1
        table [g][t2][3] += 1
      elif (gt2 > gt1):
        table [g][t2][1] += 1
        table [g][t1][3] += 1
      else: 
        table [g][t1][2] += 1
        table [g][t2][2] += 1
      table [g][t1][4] += gt1
      table [g][t2][4] += gt2
      table [g][t1][5] += gt2
      table [g][t2][5] += gt1

# to sort the teams by points
for g in range(ng):
  for t1 in range(nt - 1): 
    for t2 in range (t1 + 1, nt): 
      if (table[g][t1][7] < table[g][t2][7]):
        teams[g][t1],teams[g][t2] = teams[g][t2], teams[g][t1]
        for c in range(nc):
          table[g][t1][c], table[g][t2][c] = table[g][t2][c], table[g][t1][c]

          #sort the goal diff
for g in range (ng):
  for t1 in range (nt-1):
    for t2 in range (t1+1, nt):
      if (table[g][t1][7] == table[g][t2][7]):
        if (table[g][t1][6] < table[g][t2][6]):
          teams[g][t1],teams[g][t2] = teams[g][t2], teams[g][t1]
          for c in range (nc):
           table[g][t1][c], table[g][t2][c] = table[g][t2][c], table[g][t1][c]

#sort the goal for 
for g in range (ng):
  for t1 in range (nt-1):
    for t2 in range (t1+1, nt):
      if (table[g][t1][7] == table[g][t2][7] and table[g][t2][6] == table[g][t2][6]):
        if (table[g][t1][4] < table[g][t2][4]):
          teams[g][t1],teams[g][t2] = teams[g][t2], teams[g][t1]
          for c in range (nc):
           table[g][t1][c], table[g][t2][c] = table[g][t2][c], table[g][t1][c]

print()
# to print the table
for g in range(ng):
  print("Group", chr(g+65), end= "\t\t\t") #chr converts num to letter using the ascii code
  print("      MP    W     D     L    GF    GA    GD    Pts")
  for t in range(nt):
    print( format(teams[g][t], "25s"), end= " ") 
    table[g][t][0] = table[g][t][1] + table[g][t][2] + table[g][t][3]
    table[g][t][6] = table[g][t][4] - table[g][t][5]
    table[g][t][7] = table[g][t][1] * 3 + table[g][t][2]
    for c in range(nc):
      num = table[g][t][c]
      print( format(num,"5d"), end= " ")
    print()
  print()
print()

Italy vs Switzerland = 2 : 3
Italy vs Turkey = 2 : 2
Italy vs Wales = 4 : 7
Switzerland vs Turkey = 4 : 5
Switzerland vs Wales = 3 : 7
Turkey vs Wales = 0 : 4
Belgium vs Denmark = 8 : 0
Belgium vs Finland = 0 : 6
Belgium vs Russia = 3 : 4
Denmark vs Finland = 3 : 8
Denmark vs Russia = 5 : 4
Finland vs Russia = 0 : 4
Austria vs Netherland = 7 : 1
Austria vs North Macedonia = 4 : 3
Austria vs Ukraine = 8 : 6
Netherland vs North Macedonia = 0 : 0
Netherland vs Ukraine = 3 : 1
North Macedonia vs Ukraine = 1 : 0
Croatia vs Czech Republic = 5 : 8
Croatia vs England = 8 : 8
Croatia vs Scotland = 8 : 8
Czech Republic vs England = 3 : 4
Czech Republic vs Scotland = 7 : 4
England vs Scotland = 3 : 5
Poland vs Slovakia = 4 : 6
Poland vs Spain = 5 : 4
Poland vs Sweden = 2 : 5
Slovakia vs Spain = 2 : 1
Slovakia vs Sweden = 4 : 6
Spain vs Sweden = 5 : 8
France vs Germany = 1 : 0
France vs Hungary = 4 : 0
France vs Portugal = 2 : 5
Germany vs Hungary = 8 : 1
Germany vs Portugal = 2 : 8
Hungary vs Portugal = 6 : 6

Group A			      MP    W     D     L    GF    GA    GD    Pts
Wales                         3     3     0     0    18     7    11     9
Switzerland                   3     1     0     2    10    14    -4     3
Italy                         3     0     1     2     8    12    -4     1
Turkey                        3     1     1     1     7    10    -3     4

Group B			      MP    W     D     L    GF    GA    GD    Pts
Finland                       3     2     0     1    14     7     7     6
Russia                        3     2     0     1    12     8     4     6
Belgium                       3     1     0     2    11    10     1     3
Denmark                       3     1     0     2     8    20   -12     3

Group C			      MP    W     D     L    GF    GA    GD    Pts
Austria                       3     3     0     0    19    10     9     9
Ukraine                       3     0     0     3     7    12    -5     0
North Macedonia               3     1     1     1     4     4     0     4
Netherland                    3     1     1     1     4     8    -4     4

Group D			      MP    W     D     L    GF    GA    GD    Pts
Croatia                       3     0     2     1    21    24    -3     2
Czech Republic                3     2     0     1    18    13     5     6
Scotland                      3     1     1     1    17    18    -1     4
England                       3     1     1     1    15    16    -1     4

Group E			      MP    W     D     L    GF    GA    GD    Pts
Sweden                        3     3     0     0    19    11     8     9
Slovakia                      3     2     0     1    12    11     1     6
Poland                        3     1     0     2    11    15    -4     3
Spain                         3     0     0     3    10    15    -5     0

Group F			      MP    W     D     L    GF    GA    GD    Pts
Portugal                      3     2     1     0    19    10     9     7
Germany                       3     1     0     2    10    10     0     3
Hungary                       3     0     1     2     7    18   -11     1
France                        3     2     0     1     7     5     2     6

In [ ]:
score = [8,6,7,9,4]
n = 5
for i in range(n-1):
#i = 0,1,2,3
  for j in range(n-i-1):
  #0 1 2 3    (i=0)
  #0 1 2      (i=1)
  #0 1        (i=2)
  #0          (i=3)

    if (score[j]>score[j+1]):
       score[j], score[j+1] = score[j+1], score[j]
       

print(score)

[4, 6, 7, 8, 9]

In [ ]:
def sortbycountry():
 n = len(country)
 for i in range(n-1):
  for j in range(i+1, n):
    if (country[i]> country[j]):
      country [i],country[j] = country[j],country[i]
      cases[i],cases[j]=cases[j],cases[i]


def sortbycases():
  n = len(cases)
  for i in range(n-1):
   for j in range(i+1,n):
    if (cases[i]<cases[j]):
      country[i],country[j] = country[j],country[i]
      cases[i],cases[j]=cases[j], cases[i]

def printlist():
  for i in range(len(country)):
    print(i+1, country[i], " : ", cases[i])

country = ["Russia", "UK", "USA", "India", "Brazil"]
cases = [     3.28,  2.77, 21.58,  10.38,     7.81]
sortbycountry()
print("Sorted alphabetically")
printlist()
print()
print("Sorted by cases(decreasing)")
sortbycases()
printlist()

Sorted alphabetically
1 Brazil  :  7.81
2 India  :  10.38
3 Russia  :  3.28
4 UK  :  2.77
5 USA  :  21.58

Sorted by cases(decreasing)
1 USA  :  21.58
2 India  :  10.38
3 Brazil  :  7.81
4 Russia  :  3.28
5 UK  :  2.77

# Day 6

In [ ]:
found = False
score = [80,20,90,70,30,100,50,40,10,60]
tofind = int (input("no: "))
print ("searching", tofind)
for i in range(len(score)):
  if tofind == score[i]:
    print("found at", i)
    found = True
    break
if(not found):
  print("Not Found")

no: 60
searching 60
found at 9

In [ ]:
found = False
domains = ["google.com", "instagram.com", "kompas.com", "youtube.com"]
ips = ["142.250.73.206", "129.141.78.123", "217.823.145.100", "780.167.180.112"]
tofind = input("domain name: ")
for i in range(len(domains)):
  if tofind == domains[i]:
    print("ip address:", ips[i])
    found = True
    break
if (not found):
  print("Domain not found")

domain name: google
Domain not found

In [ ]:
found = False
scores=[20,35,50,75,88,100,125,157,188,200,230,280]
n = len(scores)
tofind = 125
first = 0
last = n-1 
while (first <= last):
  mid = (first + last)//2
  if(tofind == scores[mid]):
    print("found at", mid)
    found = True
    break
  elif (tofind > scores[mid]):
    first = mid+1
  else: 
    last = mid - 1
if(not found):
  print("not found")

found at 6

In [ ]:
n = 10**2
found = False
tofind = 99
first = 1
last = n
i = 1
while (first <= last):
  mid = (first + last)//2
  print(i, mid)
  if (tofind == mid):
    print("found at", mid)
    found = True
    break
  elif (tofind > mid):
    first = mid+1
  else:
    last = mid-1
  i+=1
if(not found):
  print("not found")

1 50
2 75
3 88
4 94
5 97
6 99
found at 99

# Day 7

In [ ]:
ll = list()
print(ll)

l2 = []
print(l2)

t1 = tuple()
print(t1)
t2 = ()
print(t2)

t3 = tuple("PYTHON")
print(t3)

ll = list("PYTHON")
print(ll)

[]
[]
()
()
('P', 'Y', 'T', 'H', 'O', 'N')
['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
t = ("a","b","c","d","e")
print(t[0])
print(t[1:3])
t = ("A",) + t[1:]
print(t)

a
('b', 'c')
('A', 'b', 'c', 'd', 'e')

In [ ]:
str = "python"
print(str[0:1])
print(str[0:2])

print(str[2:4])
print(str[:3])
print(str[1] + str[4:6])

p
py
th
pyt
yon

In [ ]:
str = input("input string: ")
n = len(str)-3
p1 = str[:n]
p2 = "e"
p3 = str[n:]
print(p1+p2+"+"+p3)

input string: pooping
poope+ing

In [ ]:
str = "12345"
for i in range(len(str)):
  num = int(str[i:i+1])
  if (num==0):
    char = "j"
  else:
    char = chr(num+64)
  print(char, end=" ")
print()

A B C D E

In [ ]:
t = divmod(5,2)
print(t)
quot, rem = divmod(5, 2)
print(quot, rem)

denom = (10, 5, 2, 1, 0.5, 0.2, 0.1, 0.05, 0.01)
change = 28.99
cents = int(change*100)
for i in range(len(denom)):
  d = int(denom[i]*100)
  qty, cents = divmod(cents, d)
  if (qty > 0):
    if d >= 100:
      print(qty, "-> $", int(d/100))
    else:
      print(qty, "->", d, "cents")

(2, 1)
2 1
2 -> $ 10
1 -> $ 5
1 -> $ 2
1 -> $ 1
1 -> 50 cents
2 -> 20 cents
1 -> 5 cents
4 -> 1 cents

In [ ]:
s = "abc"
t = [0,1,2]
print(list(zip(s, t)))
print(tuple(zip(s, t)))

[('a', 0), ('b', 1), ('c', 2)]
(('a', 0), ('b', 1), ('c', 2))

In [ ]:
def has_match(t1, t2):
  for x, y in zip(t1, t2):
    if x == y:
      return True
    return False
t1 = ("Japan", "UK", "USA")
t2 = ("Tokyo", "London", "Washington")
print(list(zip(t1, t2)))

[('Japan', 'Tokyo'), ('UK', 'London'), ('USA', 'Washington')]

# Day 8

In [ ]:
greek = {'a':"alpha", "o":"omega", "g":"gamma"}
print(greek)
print()

for letter in greek:
  print(letter, "=", greek[letter])

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

a = alpha
o = omega
g = gamma

In [ ]:
def histogram(string):
  string = string.upper()
  mydict = dict()
  for char in string:
    if char != " ":
      if char not in mydict:
        mydict[char] = 1
      else:
        mydict[char] += 1
  return mydict
str1 = "RACECAR"
print(histogram(str1))

hist = histogram(str1)
for letter in sorted(hist):
  print(letter, "=", hist[letter])

{'R': 2, 'A': 2, 'C': 2, 'E': 1}
A = 2
C = 2
E = 1
R = 2

In [ ]:
str = "a quick brown fox jumps over the lazy dog"
str = str.upper()
count = dict()
mylist = list()
for letter in str:
  if letter != " ":
    count[letter] = 1
for letter in sorted(count):
  mylist.append(letter)
print(mylist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
def searchvowels (string):
  vowels = ["a", "e", "i", "o", "u"]
  mydict = dict()
  string = string.lower()
  for char in string:
    if char in vowels:
      if char not in mydict:
        mydict[char] = 1
      else:
        mydict[char] += 1
  return mydict

string1 = "kuku kakiku kaku-kaku karena kena paku"
mydict = searchvowels (string1.lower())
print(len(mydict),"vowels")

4 vowels

In [ ]:
title = "lord of the rings: the fellowship of the ring"
title = title.upper()
title = title.replace(":","")
wordlist = title.split()
hist = dict()
for word in wordlist:
  hist[word] = hist.get(word, 0) + 1

for word in sorted(hist):
  print(word, "=", hist[word])

FELLOWSHIP = 1
LORD = 1
OF = 2
RING = 1
RINGS = 1
THE = 3

In [ ]:
def printDict():
  print("n\list of words")
  for eng in sorted(kamus):
    print (eng, kamus[eng])
  print()

def addUpdatedWord():
  while True:
    eng = input("English = ")
    if eng == ".":
      break
    ind = input("Indonesian = ")
    kamus[eng] = ind

def searchEng():
  eng = input("English = ")
  if eng in kamus:
    print(">>", eng)

def searchInd():
  ind = input("Indonesian = ")
  for eng in kamus:
    if ind == kamus[eng]:
      print(">>", eng)

def deleteWord():
  eng = input("English = ")
  kamus.pop(eng)

  kamus = {"apple":"apel", "book":"buku", "axe":"kapak", "bear":"beruang", "bird":"burung", "dog":"anjing"}
while True:
  print("1.Add 2.Update 3.Delete 4.Search Eng 5.SearchInd 6.Print 0.Exit")
  choice = int(input("Choice (0-6): "))
  if choice == 1 or choice == 2:
    addUpdateWord()
  elif choice == 3:
    deleteWord()
  elif choice == 4:
    searchEng()
  elif choice == 5:
    searchInd()
  elif choice == 6:
    printDict()
  elif choice == 0:
    print("Thank you!")
    break
  else:
    print("Invalid choice!")

1.Add 2.Update 3.Delete 4.Search Eng 5.SearchInd 6.Print 0.Exit

KeyboardInterrupt: ignored

# Day 9

In [ ]:
accounts = { "111": [ "Tristan", "123", 100],
            "222": [ "Joseph", "234", 200],
            "333": [ "Joshua", "345", 300] }
while (True):
  accno = input("account no: ")
  pin = input("PIN: ")
  if accno in accounts:
    if (pin == accounts[accno][1]):
      name = accounts[accno][0]
      balance = accounts[accno][2]
      print ("Welcome", name)
      print ("Balance $", balance)
    break
  else:
    print("unknown account no!")
else:
  print("unknown account no!")

while (True):
  print("\nmenu\n1 - Deposit\n2 - Withdraw\n3 - Transfer\n4 - Balance\n5 - Change PIN\n0 - Logout")
  choice = int(input("your choice (0-5): "))
  if (choice == 0):
    print("see you!")
    break 
  if (choice == 1):
    amount = int (input("Amount: "))
    accounts[accno][2] += amount
  elif (choice == 2):
    amount = int (input("Amount: "))
    accounts[accno][2] -= amount
  elif (choice == 3):
    amount = int (input("Amount: "))
    dest = input("destination account no: ")
    accounts[dest][2] += amount
    accounts[accno][2] -= amount
  elif (choice == 4):
    print("balance $", accounts[accno][2])
  elif (choice == 5):
    old_pin = input("enter old pin: ")
    if (old_pin == accounts[accno][1]):
      new_pin1 = input("enter new pin: ")
      new_pin2 = input("re-enter new pin: ")
      if (new_pin1 == new_pin2):
        accounts[accno][1] = new_pin1
      else:
        print("different pin!")
    else:
      print("incorrect pin!")
  else: 
    print("invalid choice!")

accounts = { "111": [ "Tristan", "123", 100],
            "222": [ "Joseph", "234", 200],
            "333": [ "Joshua", "345", 300] }
while (True):
  accno = input("Account no: (exit = x): ")
  if (accno == "x"):
    print("see you!")
    break
    pin = input("pin: ")
    if accno in accounts:
      if (pin == accounts[accno][1]):
        print("welcome", accounts[accno][0])
        print ("balance $", accounts[accno][2])
        dotransaction()
      else:
        print("incorrect account no or pin!")
    else:
      print("incorrect account no or pin!")

account no: 123
PIN: 123
unknown account no!
account no: 123
PIN: 132
unknown account no!
account no: 111
PIN: 123
Welcome Tristan
Balance $ 100

menu
1 - Deposit
2 - Withdraw
3 - Transfer
4 - Balance
5 - Change PIN
0 - Logout
your choice (0-5): 0
see you!
Account no: (x=exit): x
see you!

# Day 10

In [ ]:
scores = list()
file = open("data.txt")
for line in file:
  line = line.replace("\n","")
  line = int(line)
  scores.append(line)
print(scores)
n = len(scores)
total = sum(scores)
avg = total/n
print("average =", avg)
print("scores above average: ")
for i in range(n):
  if (scores[i]>avg):
    print(scores[i],end=" ")
print()

[90, 60, 80, 100, 70, 40, 30, 50, 90, 70]
average = 68.0
scores above average:
90 80 100 70 90 70

In [ ]:
scores = list()
file = open("data.txt")
for line in file:
  line = line.replace("\n","")
  line = int(line)
  scores.append(line)
file.close()
print(scores)
n = len(scores)
for i in range(n):
  scores[i] += 5
  if (scores[i] > 100):
    scores[i] = 100
print(scores)

file = open("data2.txt", "w")
for score in scores:
  data = str(score)
  file.write( data + "\n")
file.close()

[90, 60, 80, 100, 70, 40, 30, 50, 90, 70]
[95, 65, 85, 100, 75, 45, 35, 55, 95, 75]

In [ ]:
students = list()
file = open("students.txt")
for line in file:
  line = line.replace("\n","")
  templist = line.split()
  students.append(templist)
file.close()

n = len(students)
total = 0
for i in range(n):
  name = students[i][0]
  students[i][1] = int(students[i][1])
  score = students[i][1]
  print(format(name, "10s"), format(score, "4d"))
print("total =", total)

FileNotFoundError: ignored

In [ ]:
top5 = list()
file = open("covid.txt")
for line in file:
  line = line.replace('\n', '')
  line = line.replace(',', '')
  tempList = line.split()
  top5.append(tempList)
file.close()

n = len(top5)
total = 0
print("-"*78)
print("No country\t\tCases\t   Deaths   Recovered\t  Active       Serious")
print("-"*78)
for i in range(n):
  print(top5[i][0], end=" ")
  country = top5[i][1]
  print(format(country, "15s"), end=" ")
  for j in range(2,7):
    top5[i][j] = int(top5[i][j])
    data = top5[i][j]
    print(format(data, "11,d"), end=" ")
  total = total + top5[i][2]
  print()
print("-"*78)
print("Total =", format(total, "12,d"))
print("Average =", format(int(total/n), "12,d"))

------------------------------------------------------------------------------
No country		Cases	   Deaths   Recovered	  Active       Serious
------------------------------------------------------------------------------
1 USA              24,102,429     401,856  14,228,969   9,471,604      28,937
2 India            10,543,659     152,130  10,178,883     212,646       8,944
3 Brazil            8,394,253     208,291   7,361,379     824,583       8,318
4 Russia            3,520,531      64,495   2,909,680     546,356       2,300
5 UK                3,316,019      87,295   1,503,654   1,725,070       3,672
------------------------------------------------------------------------------
Total =   49,876,891
Average =    9,975,378

# Day 11

In [ ]:
def readfile(filename):
  file = open(filename, "r")
  for line in file:
    print(line, end="")n

def writefile(filename, mode):
  file = open(filename, mode)
  while(True):
    text = input()
    if (text == "."):
      print("file saved!\n")
      break
    file.write(text + "\n")
  file.close

def editfile(filename):
  readfile(filename,)
  writefile(filename, "a")

while(True):
  print("(N)ew (E)dit (V)iew (Q)uit:")
  choice = input("input n/e/v/q:")
  choice = choice.lower()
  if (choice == "q"):
    print("thank you")
    break
  filename = input("input file name: ")
  if (choice == "n"):
    writefile(filename, "w")
  elif (choice == "e"):
    editfile(filename)
  elif (choice == "v"):
    readfile(filename)

(N)ew (E)dit (V)iew (Q)uit:
input n/e/v/q:n
input file name: twinkle
twink
q
q
.
file saved!

(N)ew (E)dit (V)iew (Q)uit:
input n/e/v/q:e
input file name: twinke
adsf
.
file saved!

(N)ew (E)dit (V)iew (Q)uit:
input n/e/v/q:e
input file name: twinke
adsf
asfdljlasdfflkjasflkdj
lksdfjlkjasfdljasdflk;asd
lkjaslkfdjlkasfjdsa
.
file saved!

(N)ew (E)dit (V)iew (Q)uit:

# EXAM TERM 2

In [ ]:
#a
letter = [ "11111", "10000", "11111", "10000", "11111"]
for i in range(5):
  for j in range(5):
    if ( letter[i][j] == "1"):
      print(end = "#")
    else:
      print(end=" ")

In [ ]:
#b
products = { "111": [ "Aqua", 3000],
            "222": [ "Sprite", 5000],
            "333": [ "Coca Cola", 5000] }

print("Welcome to LEO's Store")
while True:
  productcode = input("Product Code: (0 to exit) ")
  if (productcode == "0"):
    print ("see you!")
    break

  if productcode in products:
   name = products[productcode][0]
   price = products[productcode][1]
   print("you are purchasing", name)
   qty = int (input("quantity: "))
   beforeprice = price * qty
   print("subtotal: ", beforeprice)
   discount = int (input("discount(%): "))
   discountamount = (discount/100)
   discounted = beforeprice * discountamount
   print(discounted)
   finalprice = beforeprice - discounted
   print("final payment: ", finalprice)

   payment = int(input("input payment:"))
   change = (payment - finalprice)
   print("your change is: ", change)
   print("Thank You!")
   
  else:
    print("invalid code")

Welcome to LEO's Store
Product Code: (0 to exit) 222
you are purchasing Sprite
quantity: 2
subtotal:  10000
discount(%): 10
1000.0
final payment:  9000.0
input payment:10000
your change is:  1000.0
thank you
Product Code: (0 to exit) 0
see you!

In [ ]:
#c
def readfile(filename):
  file = open(filename, "r")
  for line in file:
    print(line, end="")
def writefile(filename, mode):
  file = open(filename, mode)
  while(True):
    text = input()
    if (text == "."):
      print("file saved!\n")
      break
    file.write(text + "\n")
  file.close

def editfile(filename):
  readfile(filename,)
  writefile(filename, "a")

while(True):
  print("(N)ew (E)dit (V)iew e(X)it:")
  choice = input("input n/e/v/x:")
  choice = choice.lower()
  if (choice == "x"):
    print("thank you")
    break
  filename = input("input file name: ")
  print("Here is your content:")
  if (choice == "n"):
    writefile(filename, "w")
  elif (choice == "e"):
    editfile(filename)
  elif (choice == "v"):
    readfile(filename)

(N)ew (E)dit (V)iew e(X)it:
input n/e/v/q:v
input file name: sentence.txt
Here is your content:
the quick brown fox
jumps over
the lazy dog
..
(N)ew (E)dit (V)iew e(X)it:
input n/e/v/q:e
input file name: sentence.txt
Here is your content:
the quick brown fox
jumps over
the lazy dog
..
.
file saved!

(N)ew (E)dit (V)iew e(X)it:
input n/e/v/q:x
thank you

NameError: ignored

# Day 1 TERM 3

In [ ]:
n = 3
for i in range(4):
  print(n**i, end=" ")

1 3 9 27

In [ ]:
a = 100
for i in range(1,6,1):
  print (a, end=" ")
  x = 10*i
  a = a - x

100 90 70 40 0

In [ ]:
n = 5
for r in range(n):
  for c in range(n):
    if (c == 0 or c==n-1 or r == c):
      print("#", end="")
    else:
      print(end=" ")
  print()
print()
n =5
for r in range(n):
  for c in range(n):
    if (c==r or c+r==n-1):
      print(end="#")
    else:
      print(end=" ")
  print()

#   #
##  #
# # #
#  ##
#   #

#   #
 # #
  #
 # #
#   #

In [ ]:
import random
n = int (input("magic number(1-9): "))
m = int (input("round/s: "))
for i in range(n):
  print(i+1, end=" - ")
  while True:
    num = random.randint(1,9)
    print(num, end=" ")
    if (num == n):
      break
  print()

magic number(1-9): 8
round/s: 5
1 - 6 7 3 1 4 8
2 - 1 7 7 1 7 8
3 - 2 3 4 7 8
4 - 7 1 2 6 7 8
5 - 7 8
6 - 7 9 2 3 8
7 - 8
8 - 8

# Day 2

In [ ]:
seatList = [['-' for c in range(20)]
                 for r in range(10)]
seat = input("Seat(letternumber): ")
row = seat[0:1]
col = seat[1: ]
r = ord(row) - 65
c = int(col) - 1
seatList[r][c] = "x"
for r in range(10):
  for c in range(20):
    print(seatList[r][c], end=" \t")
  print()

Seat(letternumber): A2
- 	x 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	-
- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	-
- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	-
- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	-
- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	-
- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	-
- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	-
- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	-
- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	-
- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	- 	-

In [ ]:
def setupSeats():
  for r in range(nr):
    for c in range(nc):
      if (r%2 == 0 and c%4 == 1 or r%2 == 1 and c%4 == 3):
        seatList[r][c] = "-"

def inputSeats():
  row = seat[0:1] #start from index 0, stop before 1 (getting the letter)
  col = seat[1: ] #start from index 1, stop at the end of the string (getting the number)
  r = ord(row) - 65
  c = int(col) - 1
  if (seatList[r][c] == "O"):
    seatList[r][c] = "x"
  else:
    print("This seat is unavailable!")

def printHeading():
  print(end="  ")
  for c in range(nc):
    print(format(c+1, "2d"), end=" ")
  print()

def printSeats():
  print("\nLayout")
  printHeading()
  for r in range(nr):
    print(chr(r+65), end="  ")
    for c in range(nc):
      print(seatList[r][c], end="  ")
    print()
  print()

nr, nc = 20, 20
seatList = [['O' for c in range(nc)]
                 for r in range(nr)]
setupSeats()
qty = 0
while(True):
  print("\nWelcome")
  while(True):
    seat = input("Seat (x = exit): ")
    if (seat == "x"):
      break 
    inputSeats()
    qty += 1
  printSeats()
  price = 50000
  print("Total Price = Rp", format(qty*price, ",d"))
  again = input("Again (y/n): ")
  if (again == "n"):
    break

Welcome
Seat (x = exit): A5
Seat (x = exit): x

Layout
   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
A  O  -  O  O  x  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
B  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
C  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
D  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
E  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
F  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
G  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
H  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
I  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
J  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
K  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
L  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
M  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
N  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
P  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
Q  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
R  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
S  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
T  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -

Total Price = Rp 50,000
Again (y/n): y

Welcome
Seat (x = exit): A2
This seat is unavailable!
Seat (x = exit): x

Layout
   1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
A  O  -  O  O  x  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
B  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
C  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
D  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
E  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
F  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
G  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
H  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
I  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
J  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
K  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
L  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
M  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
N  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
P  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
Q  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
R  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -
S  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O
T  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -  O  O  O  -

Total Price = Rp 100,000

KeyboardInterrupt: ignored

# Day 3

In [ ]:
file = open("data.txt")
scores = list()
for line in file:
  score = line.replace("\n", " ")
  scores.append(int(score))

print(scores)
n = len(scores)
hs = max(scores)
ls = min(scores)
avg = sum(scores)/n
print("High Score:", hs)
print("Lowest Score:", ls)
print("Average Score:", avg)

[40, 20, 50, 10, 30]
High Score: 50
Lowest Score: 10
Average Score: 30.0

In [ ]:
def printData():
  file = open("scoreboard.txt")
  scores = list()
  for line in file:
    line = line.replace("\n", "")
    score = line.split()
    scores.append(score)
  print("\nScoreboard")
  print("-"*70)
  print("# user name\t\tgame#1\tgame#2\tgame#3\taverage\thighest\tlowest")
  print("-"*70)
  n = len(scores)
  for row in range(n):
    name = scores[row][0]
    print(row+1, format(name,"18s"), end="\t")
    temp = list()
    for col in range(1,4):
      data = int(scores[row][col])
      print("%6.2f" %data, end="\t")
      temp.append(data)
    avg = sum(temp)/3
    print("%6.2f" %avg, end = "\t")
    print("%6.2f" %max(temp), end="\t")
    print("%6.2f" %min(temp))
  print("-"*70)
  print()

def inputData():
  print("Input Data")
  name = input("Player Name: ")
  newData = ['']
  newData[0] = name
  for i in range(1,4):
    score = input("Score for game #" + str(i) + " : ")
    newData.append(score)

  file = open("scoreboard.txt", "a")
  for i in range(4):
    file.write(newData[i] + " ")
  file.write("\n")
  file.close()

inputData()
printData()

Input Data
Player Name: M4a4
Score for game #1 : 60
Score for game #2 : 80
Score for game #3 : 40

Scoreboard
----------------------------------------------------------------------
# user name		game#1	game#2	game#3	average	highest	lowest
----------------------------------------------------------------------
1 tristan           	 50.00	 60.00	 70.00	 60.00	 70.00	 50.00
2 joseph            	 90.00	 80.00	 70.00	 80.00	 90.00	 70.00
3 joshua            	100.00	 80.00	 90.00	 90.00	100.00	 80.00
4 Bobie             	 90.00	 90.00	 10.00	 63.33	 90.00	 10.00
5 susan             	 50.00	 60.00	 70.00	 60.00	 70.00	 50.00
6 Ak47              	 70.00	 60.00	 70.00	 66.67	 70.00	 60.00
7 M4a4              	 60.00	 80.00	 40.00	 60.00	 80.00	 40.00
----------------------------------------------------------------------

# Day 4

In [ ]:
def generate(num):
  numlist = numbers[num]
  for r in range(5):
    for c in range(5):
      digit = numlist[r][c:c+1]
      if (digit == "1"):
        print(end = "#")
      else:
       print(end=" ")
    print()
  print()

def inputlevel():
  while(True):
    level = int(input(label +" Level (0-9):" ))
    if (level < 0 or level > 9):
      print("unknown level:")
    else: 
      break
    return level


numbers = {
  0 : ['11111', '10001', '10001', '10001', '11111'],
  1 : ['00100', '00100', '00100', '00100', '00100'],
  2 : ['11111', '00001', '11111', '10000', '11111'],
  3 : ['11111', '00001', '11111', '00001', '11111'],
  4 : ["10001", "10001", "11111", "00001", "00001"],
  5 : ["11111", "10000", "11111", "00001", "11111"],
  6 : ['11111', '10000', '11111', '10001', '11111'], 
  7 : ['11111', '00001', '00001', '00001', '00001'],
  8 : ["11111", "10001", "11111", "10001", "11111"],
  9 : ["11111", "10001", "11111", "00001", "11111"]
}

lv_from = int(input("From level(0-9): "))
lv_to = int(input("To level(0-9): "))
print()
if (lv_from <= lv_to):
  for i in range(lv_from, lv_to+1):
    generate(i)
else:
  for i in range(lv_from, lv_to-1, -1):
    generate(i)

From level(0-9): 4
To level(0-9): 6

#   #
#   #
#####
    #
    #

#####
#
#####
    #
#####

#####
#
#####
#   #
#####

In [ ]:
def generate(num):
  numlist = numbers[num]
  print("-"*7)
  print(" LEVEL")
  for r in range(7):
    for c in range(5):
      if (number < 0):
        digit = numlist[r][c:c+1]
      if (digit == "1"):
        print(end = "#")
      else:
       print(end=" ")
    print()
  print()

def inputlevel():
  while(True):
    level = int(input(label +" Level (0-9):" ))
    if (level < 0 or level > 9):
      print("unknown level:")
    else: 
      break
    return level


numbers = {
  0 : ['01110', '10001', '10001', '10001','10001', '10001', '01110'],
  1 : ['00100', '01100', '00100', '00100','00100', '01000', '11111'],
  2 : ['01110', '10001', '00001', '00010','00100', '01000', '11111'],
  3 : ['01110', '10001', '00001', '00110','00001', '10001', '01110'],
  4 : ["10001", "10001", "10001", "11111",'00001', '00001', "00001"],
  6 : ["01110", "10001", "10000", "11110",'10001', '10001', "01110"],
  5 : ['11111', '10000', '11110', '00001','00001', '10001', '01110'], 
  7 : ['11111', '00001', '00001', '00010','00100', '00100', '00100'],
  8 : ["01110", "10001", "10001", "01110",'10001', '10001', "01110"],
  9 : ["01110", "10001", "10001", "01111",'00001', '10001', "01110"]
}

lv_from = int(input("From level(0-9): "))
lv_to = int(input("To level(0-9): "))
print()
if (lv_from <= lv_to):
  for i in range(lv_from, lv_to+1):
    generate(i)
else:
  for i in range(lv_from, lv_to-1, -1):
    generate(i)

KeyboardInterrupt: ignored

#Day 5

In [ ]:
import random
import string

def process_file(filename):
  hist = {}
  fp = open(filename)
  for line in fp:
    process_line(line, hist)
  return hist

def process_line(line, hist):
  line = line.replace('-', ' ')
  strippables = string.punctuation + string.whitespace
  for word in line.split():
    word = word.strip(strippables)
    word = word.lower()
    hist[word] = hist.get(word, 0) + 1

def most_common(hist):
  t = []
  for key, value in hist.items():
    t.append((value, key))
  t.sort()
  t.reverse()
  return t

def print_most_scommon(hist, num = 10):
  t = most_common(hist)
  print("The most common words are:")
  for freq, word in t[:num]:
    print(word, '\t', freq)

def total_words(hist):
  return sum(hist.values())

def different_words(hist):
  return len(hist)


hist = process_file('.txt')
print("The total number of words: ", total_words(hist))
print("Number of different words: ", different_words(hist))
t = most_common(hist)
print("The most common words are:")
for freq, word in t[0:20]:
  print(word, '\t', freq)

The total number of words:  3194
Number of different words:  629
The most common words are:
the 	 208
and 	 193
she 	 104
her 	 62
was 	 59
of 	 57
in 	 52
as 	 51
snow 	 50
to 	 48
white 	 47
it 	 43
a 	 43
had 	 39
that 	 37
but 	 35
they 	 34
said 	 31
glass 	 28
when 	 27

In [ ]:
string = "the lord of the rings: the return of the king"
string = string.replace(":"," ")
hist = dict()
for word in string.split():
  if (word in hist):
    hist[word] += 1
  else:
    hist[word] = 1
  print(hist)

{'the': 1}
{'the': 1, 'lord': 1}
{'the': 1, 'lord': 1, 'of': 1}
{'the': 2, 'lord': 1, 'of': 1}
{'the': 2, 'lord': 1, 'of': 1, 'rings': 1}
{'the': 3, 'lord': 1, 'of': 1, 'rings': 1}
{'the': 3, 'lord': 1, 'of': 1, 'rings': 1, 'return': 1}
{'the': 3, 'lord': 1, 'of': 2, 'rings': 1, 'return': 1}
{'the': 4, 'lord': 1, 'of': 2, 'rings': 1, 'return': 1}
{'the': 4, 'lord': 1, 'of': 2, 'rings': 1, 'return': 1, 'king': 1}

In [ ]:
import random
import string

def process_file(filename):
    hist = {}
    fp = open(filename)
    for line in fp:
        process_line(line, hist)
    return hist

def process_line(line, hist):
    line = line.replace('-', ' ')
    strippables = string.punctuation + string.whitespace
    for word in line.split():
        word = word.strip(strippables)
        word = word.lower()
        hist[word] = hist.get(word, 0) + 1

def most_common(hist):
    t = []
    for key, value in hist.items():
        t.append((value, key))
    t.sort()
    t.reverse()
    return t

def print_most_common(hist, num=10):
    t = most_common(hist)
    print('The most common words are:')
    for freq, word in t[:num]:
        print(word, '\t', freq)

def subtract(d1, d2):
    res = {}
    for key in d1:
        if key not in d2:
            res[key] = None
    return res

def total_words(hist):
    return sum(hist.values())

def different_words(hist):
    return len(hist)

def random_word(hist):
    t = []
    for word, freq in hist.items():
        t.extend([word] * freq)
    return random.choice(t)
    
hist = process_file('snowwhite.txt')
print('Total number of words:', total_words(hist))
print('Number of different words:', different_words(hist))
t = most_common(hist)
print('The most common words are:')
for freq, word in t[0:20]:
    print(word, '\t', freq)
words = process_file('words.txt')
diff = subtract(hist, words)
print("The words in the book that aren't in the word list are:")
for word in diff.keys():
    print(word, end=' ')
print("\n\nHere are some random words from the book")
for i in range(100):
    print(random_word(hist), end=' ')

Total number of words: 3194
Number of different words: 629
The most common words are:
the 	 208
and 	 193
she 	 104
her 	 62
was 	 59
of 	 57
in 	 52
as 	 51
snow 	 50
to 	 48
white 	 47
it 	 43
a 	 43
had 	 39
that 	 37
but 	 35
they 	 34
said 	 31
glass 	 28
when 	 27
The words in the book that aren't in the word list are:
i chould o white's counterpanes farmer's king's father's

Here are some random words from the book
glass poor her she oh knew in her in for glass us her beautiful to wall and there that never she once this herself said on afterwards a still to her white night little and will beds it oh and until saw their things the was glass white they my went will the a it were no you looked of when not liver with drop things on queen up mother woman in the old little came no the wept and worthy lace yes things cannot was but white red dwarfs as oh poor in snow she to this and the

#Day 6

In [ ]:
f = open("top3_test.txt")
top3 = list()
for line in f:
  removables = ("\n", "\t", ",")
  for r in removables:
    line = line.replace(r, "")
  line = line.split()
  row = list()
  row.append(line[0])
  for i in range(1,4):
    num = float(line[i])
    row.append(num)
  top3.append(row)

n = len(top3)
for r in range(n):
  print(format(r+1, "3d"), end=". ")
  print(format(top3[r][0], "10s"), end=" ")
  for c in range(1,4):
    data = top3[r][c]
    print("%6.2f" %data, end=" ")
  totalscore = top3[r][3] + top3[r][2] + top3[r][1] 
  averagescore = totalscore / 3
  print(" %5.2f" %totalscore + " "+" %5.2f" %averagescore)

  1. John        90.83  90.60  99.32  280.75  93.58
  2. Kay         88.32  79.32  93.43  261.07  87.02
  3. Albert      45.83  50.60  93.32  189.75  63.25

In [ ]:
f = open("top10_covid.txt")
top10 = list()
for line in f:
  removables = ("\n", "\t", ",", " ")
  for r in removables:
    line = line.replace(r, "")
  line = line.split("-")
  row = list()
  row.append(line[0])
  for i in range(1,4):
    num = int(line[i])
    row.append(num)
  top10.append(row)

n = len(top10)
for r in range(n):
  print(format(r+1, "3d"), end=". ")
  for c in range(4):
    data = format(top10[r][c], "12,d") if c > 0 else format(top10[r][c], "15s")
    print(data, end=" ")
  percd = top10[r][2] / top10[r][1] * 100
  percr = top10[r][3] / top10[r][1] * 100
  print(" %5.2f" %percd + "%" + " "+" %5.2f" %percr + "%")

  1. USA               30,853,032      561,142   23,275,268   1.82%  75.44%
  2. Brazil            12,407,323      307,326   10,824,095   2.48%  87.24%
  3. India             11,908,910      161,275   11,295,023   1.35%  94.85%
  4. Russia             4,510,744       97,404    4,130,498   2.16%  91.57%
  5. France             4,465,956       94,275      288,062   2.11%   6.45%
  6. UK                 4,325,315      126,515    3,768,434   2.92%  87.13%
  7. Italy              3,488,619      107,256    2,814,652   3.07%  80.68%
  8. Spain              3,255,324       75,010    3,016,247   2.30%  92.66%
  9. Turkey             3,149,094       30,772    2,921,037   0.98%  92.76%
 10. Germany            2,754,002       76,303    2,477,500   2.77%  89.96%

# Day 7

In [ ]:
students = [ ["Ann", 90], ["Bob", 98], ["Cho", 100]]
for i in range(3):
  students[i][0] += " NHJS"
  students[i][1] += 5
  if (students[i][1] > 100):
    students[i][1] = 100
print(students)

[['Ann NHJS', 95], ['Bob NHJS', 100], ['Cho NHJS', 100]]

In [ ]:
acc_nos = [ 1, 2, 3]
names = ["Ann", "Bob", "Cho"]
balances = [ 100, 200, 300]
while (True):
  acc_no = int (input("Account No: "))
  if (acc_no == -1):
    print("Thank you")
    break 
  if acc_no in acc_nos:
    idx = acc_nos.index(acc_no)
    print("Welcome", names[idx])
    print("Balance $", balances[idx])
    valid = True
    break
  else: 
    print("Incorrect Acc No") 
if valid:
  while (True):
    print("Choose 1) Deposit, Choose 2) Withdraw")
    trans = int(input("Transaction: "))
    amount = int(input("Amount: "))
    if (trans == 1):
      if (amount > 0):
       balances[idx] += amount
    elif (trans == 2):
      if (amount > 0 and amount <= balances[idx]):
       balances[idx] -= amount
    print("Transaction Successful, Your balance is $", balances[idx])
    break

Account No: 1
Welcome Ann
Balance $ 100
Choose 1) Deposit, Choose 2) Withdraw
Transaction: 1
Amount: 80
Transaction Successful, Your balance is $ 180

# Day 8 (scratch)

# Day 9 (practice exercises online)

# Day 10

In [ ]:
n = 64
i = 0
total = 0
while (i<n-1):
  x = 2**i 
  print("grid #", format(i+1, "2d"), ":", format(x, "25,d"), "+")
  total = total + x
  i = i + 1
print("grid #", format(i+1, "2d"), ":", format(2**i, "25,d"), "=")
y = total + 2**i
print("total   :",format((y/1E18),'8,f'), "quintillion")

grid #  1 :                         1 +
grid #  2 :                         2 +
grid #  3 :                         4 +
grid #  4 :                         8 +
grid #  5 :                        16 +
grid #  6 :                        32 +
grid #  7 :                        64 +
grid #  8 :                       128 +
grid #  9 :                       256 +
grid # 10 :                       512 +
grid # 11 :                     1,024 +
grid # 12 :                     2,048 +
grid # 13 :                     4,096 +
grid # 14 :                     8,192 +
grid # 15 :                    16,384 +
grid # 16 :                    32,768 +
grid # 17 :                    65,536 +
grid # 18 :                   131,072 +
grid # 19 :                   262,144 +
grid # 20 :                   524,288 +
grid # 21 :                 1,048,576 +
grid # 22 :                 2,097,152 +
grid # 23 :                 4,194,304 +
grid # 24 :                 8,388,608 +
grid # 25 :                16,777,216 +
grid # 26 :                33,554,432 +
grid # 27 :                67,108,864 +
grid # 28 :               134,217,728 +
grid # 29 :               268,435,456 +
grid # 30 :               536,870,912 +
grid # 31 :             1,073,741,824 +
grid # 32 :             2,147,483,648 +
grid # 33 :             4,294,967,296 +
grid # 34 :             8,589,934,592 +
grid # 35 :            17,179,869,184 +
grid # 36 :            34,359,738,368 +
grid # 37 :            68,719,476,736 +
grid # 38 :           137,438,953,472 +
grid # 39 :           274,877,906,944 +
grid # 40 :           549,755,813,888 +
grid # 41 :         1,099,511,627,776 +
grid # 42 :         2,199,023,255,552 +
grid # 43 :         4,398,046,511,104 +
grid # 44 :         8,796,093,022,208 +
grid # 45 :        17,592,186,044,416 +
grid # 46 :        35,184,372,088,832 +
grid # 47 :        70,368,744,177,664 +
grid # 48 :       140,737,488,355,328 +
grid # 49 :       281,474,976,710,656 +
grid # 50 :       562,949,953,421,312 +
grid # 51 :     1,125,899,906,842,624 +
grid # 52 :     2,251,799,813,685,248 +
grid # 53 :     4,503,599,627,370,496 +
grid # 54 :     9,007,199,254,740,992 +
grid # 55 :    18,014,398,509,481,984 +
grid # 56 :    36,028,797,018,963,968 +
grid # 57 :    72,057,594,037,927,936 +
grid # 58 :   144,115,188,075,855,872 +
grid # 59 :   288,230,376,151,711,744 +
grid # 60 :   576,460,752,303,423,488 +
grid # 61 : 1,152,921,504,606,846,976 +
grid # 62 : 2,305,843,009,213,693,952 +
grid # 63 : 4,611,686,018,427,387,904 +
grid # 64 : 9,223,372,036,854,775,808 =
total   : 18.446744 quintillion

In [ ]:
n = 10**2
found = False
first = 1
last = n
i = 1
while (first <= last):
  mid = (first + last)//2
  print("Is the number", mid, "?")
  tofind = input("too big/too small/correct: ")
  if (tofind == "correct"):
    print("The number is", mid, "/ found at guess no:", i)
    found = True
    break
  elif (tofind == "too small"):
    first = mid+1
  else:
    last = mid-1
  i+=1
if(not found):
  print("not found")

Is the number 50 ?
too big/too small/correct: too big
Is the number 25 ?
too big/too small/correct: too small
Is the number 37 ?
too big/too small/correct: correct
The number is 37 / found at guess no:  3

In [ ]:
import random
computernumber = random.randint(0,100)
n = 10**2
found = False
i = 1
first = 1
last = n
while (i < 7):
  guess = int(input(str(i) + ". guess the number: "))
  if (computernumber == guess):
    print("You are correct, the number is:", computernumber, "/ found at guess no:", i)
    found = True
    break
  elif (guess > computernumber):
    print("Your guess is too big")
  else:
    print("your guess is too small")
  i = i + 1
if(not found):
  print("You are incorrect, you took too many guesses, the number was:", computernumber)

1. guess the number: 80
Your guess is too big
2. guess the number: 70
Your guess is too big
3. guess the number: 60
Your guess is too big
4. guess the number: 50
Your guess is too big
5. guess the number: 40
Your guess is too big
6. guess the number: 30

# Day 11

In [ ]:
monthnames = ("jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec")
daynames = ("sun", "mon", "tue", "wed", "thu", "fri", "sat")

year = 2021
month = 4 
nodays = 30
startingday = 4

print(daynames[startingday])
print(startingday, monthnames[month], year)

thu
4 may 2021

In [ ]:
for i in range(nodays):
  day = startingday + i
  dayname = daynames[day%7]
  monthname = monthnames[month-1]
  print(dayname + ",", i+1, monthname, year)
  day = day + 1

thu, 1 apr 2021
fri, 2 apr 2021
sat, 3 apr 2021
sun, 4 apr 2021
mon, 5 apr 2021
tue, 6 apr 2021
wed, 7 apr 2021
thu, 8 apr 2021
fri, 9 apr 2021
sat, 10 apr 2021
sun, 11 apr 2021
mon, 12 apr 2021
tue, 13 apr 2021
wed, 14 apr 2021
thu, 15 apr 2021
fri, 16 apr 2021
sat, 17 apr 2021
sun, 18 apr 2021
mon, 19 apr 2021
tue, 20 apr 2021
wed, 21 apr 2021
thu, 22 apr 2021
fri, 23 apr 2021
sat, 24 apr 2021
sun, 25 apr 2021
mon, 26 apr 2021
tue, 27 apr 2021
wed, 28 apr 2021
thu, 29 apr 2021
fri, 30 apr 2021

In [ ]:
def getnodays (month, year):
  if month == 2:
    if (year % 4 == 0 ):
      nodays = 29
    else:
      nodays = 28
  elif month in (4, 6, 9, 11):
    nodays = 30
  else:
    nodays = 31
    return nodays
def getstartday (month, year):
  start = 5
  if (month > 1):
    for i in range(1, month):
      totaldays = totaldays + getnodays(i, year)
      return totaldays % 7
    else:
      return 5
  
monthnames = ("jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec")
daynames = ("sun", "mon", "tue", "wed", "thu", "fri", "sat")

year = 2021
month = 6
nodays = 30
startingday = 4

for i in range (nodays):
  day = startingday + i
  dayname = daynames[day%7]
  monthname = monthnames[month-1]
  print (dayname + ",", i+1, monthname, year)

thu, 1 jun 2021
fri, 2 jun 2021
sat, 3 jun 2021
sun, 4 jun 2021
mon, 5 jun 2021
tue, 6 jun 2021
wed, 7 jun 2021
thu, 8 jun 2021
fri, 9 jun 2021
sat, 10 jun 2021
sun, 11 jun 2021
mon, 12 jun 2021
tue, 13 jun 2021
wed, 14 jun 2021
thu, 15 jun 2021
fri, 16 jun 2021
sat, 17 jun 2021
sun, 18 jun 2021
mon, 19 jun 2021
tue, 20 jun 2021
wed, 21 jun 2021
thu, 22 jun 2021
fri, 23 jun 2021
sat, 24 jun 2021
sun, 25 jun 2021
mon, 26 jun 2021
tue, 27 jun 2021
wed, 28 jun 2021
thu, 29 jun 2021
fri, 30 jun 2021

In [ ]:
startyear = 2021
def getnodays (month, year):
  if month == 2:
    if ( (year % 400 == 0) or ( (year % 4 == 0) and (year % 100 != 0) ) ):
      nodays = 29
    else:
      nodays = 28
  elif month in ( 4, 6, 9, 11 ):
    nodays = 30
  else: 
    nodays = 31
  return nodays

def getstartday (month, year):
    total = 5
    if (year > startyear ):
      for y in range(startyear, year):
        for m in range(1, 13):
          total += getnodays (m,y)

    for m in range(1, month):
      total += getnodays (m,year)

    day = total % 7
    print(day)
    return day;

monthnames = ("jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec")
daynames = ("sun", "mon", "tue", "wed", "thu", "fri", "sat")

month = int (input("Month: "))
year = int (input("Year: "))
nodays = getnodays(month, year)
startingday = getstartday (month, year)

for i in range(nodays):
  day = startingday + i
  dayname = daynames[day % 7]
  monthname = monthnames[month - 1]
  print(dayname + ",", i+1, monthname, year)

Month: 5
Year: 2021
6
sat, 1 may 2021
sun, 2 may 2021
mon, 3 may 2021
tue, 4 may 2021
wed, 5 may 2021
thu, 6 may 2021
fri, 7 may 2021
sat, 8 may 2021
sun, 9 may 2021
mon, 10 may 2021
tue, 11 may 2021
wed, 12 may 2021
thu, 13 may 2021
fri, 14 may 2021
sat, 15 may 2021
sun, 16 may 2021
mon, 17 may 2021
tue, 18 may 2021
wed, 19 may 2021
thu, 20 may 2021
fri, 21 may 2021
sat, 22 may 2021
sun, 23 may 2021
mon, 24 may 2021
tue, 25 may 2021
wed, 26 may 2021
thu, 27 may 2021
fri, 28 may 2021
sat, 29 may 2021
sun, 30 may 2021
mon, 31 may 2021

# EXAM TERM 3

In [ ]:
startyear = 2021
def getnumdays (month, year):
  if month == 2:
    if ( (year % 400 == 0) or ( (year % 4 == 0) and (year % 100 != 0) ) ):
      numdays = 29
    else:
      numdays = 28
  elif month in ( 4, 6, 9, 11 ):
    numdays = 30
  else: 
    numdays = 31
  return numdays

def getstartday (month, year):
    total = 5
    if (year > startyear ):
      for y in range(startyear, year):
        for m in range(1, 13):
          total += getnumdays (month,year)

    for m in range(1, month):
      total += getnumdays (month,year)

    day = total % 7
    print(day)
    return day;

monthnames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
daynames  = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
holidays  = [ [ 1, 1, "New Year"], [ 1, 5, "Labour Day"], [ 17, 8, "Independent Day"],[ 25, 12, "Christmas Day"]]

month = int (input("Month: "))
year = int (input("Year: "))
numdays = getnumdays(month, year)
startingday = getstartday (month, year)

holiday = False
for j in range(len(holidays)):
  if ( i+1 == holidays[j][1] and month == holidays[j][2] ):
    print(" -", holidays[j][3] )
    holiday = True
    break 
  if (not holiday):
    print()

for i in range(numdays):
  day = startingday + i
  dayname = daynames[day % 7]
  monthname = monthnames[month - 1]
  print(dayname + ",", i+1, monthname, year)

Month: 5
Year: 2021
6




Sat, 1 May 2021
Sun, 2 May 2021
Mon, 3 May 2021
Tue, 4 May 2021
Wed, 5 May 2021
Thu, 6 May 2021
Fri, 7 May 2021
Sat, 8 May 2021
Sun, 9 May 2021
Mon, 10 May 2021
Tue, 11 May 2021
Wed, 12 May 2021
Thu, 13 May 2021
Fri, 14 May 2021
Sat, 15 May 2021
Sun, 16 May 2021
Mon, 17 May 2021
Tue, 18 May 2021
Wed, 19 May 2021
Thu, 20 May 2021
Fri, 21 May 2021
Sat, 22 May 2021
Sun, 23 May 2021
Mon, 24 May 2021
Tue, 25 May 2021
Wed, 26 May 2021
Thu, 27 May 2021
Fri, 28 May 2021
Sat, 29 May 2021
Sun, 30 May 2021
Mon, 31 May 2021